<% @title = "Screencasts" %>

<ul>
    <li><%= link_to "Introduction", "http://youtu.be/n_z6MDuPwOE" %></li>
    <li><%= link_to "Registering with the Modeling Commons", "http://youtu.be/MDgRf3foUIw" %></li>
    <li><%= link_to "Uploading models", "http://youtu.be/nguJDxvfZ6E" %></li>
    <li><%= link_to "Groups and permissions", "http://youtu.be/RnMfjad8vRU" %></li>
    <li><%= link_to "Discussions and asking for help", "http://youtu.be/SQAL0GLiSh8" %></li>
</ul>
