<h1>Listing collaborator_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @collaborator_types.each do |collaborator_type| %>
  <tr>
    <td><%=h collaborator_type.name %></td>
    <td><%= link_to 'Show', collaborator_type %></td>
    <td><%= link_to 'Edit', edit_collaborator_type_path(collaborator_type) %></td>
    <td><%= link_to 'Destroy', collaborator_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New collaborator_type', new_collaborator_type_path %>