<% @title = "Search results" %>
<div id="search_tabs" class="tabs_panel">
	<ul>
		<li<% if @models.empty? %> class="empty"<% end %>><a href="#modelName"><div class="num-results<% if @models.empty? %> empty<% end %>"><%= @models.size -%></div> Model Name</a></li>
		<li<% if @author_match_models.empty? %> class="empty"<% end %>><a href="#authorName"><div class="num-results<% if @author_match_models.empty? %> empty<% end %>"><%= @author_match_models.size -%></div>Author Name</a></li>
		<li<% if @tag_match_models.empty? %> class="empty"<% end %>><a href="#tagName"><div class="num-results<% if @tag_match_models.empty? %> empty<% end %>"><%= @tag_match_models.size -%></div>Tag Name</a></li>
		<li<% if @info_match_models.empty? %> class="empty"<% end %>><a href="#infoTab"><div class="num-results<% if @info_match_models.empty? %> empty<% end %>"><%= @info_match_models.size -%></div>Info Tab</a></li>
		<li<% if @procedures_match_models.empty? %> class="empty"<% end %>><a href="#proceduresTab"><div class="num-results<% if @procedures_match_models.empty? %> empty<% end %>"><%= @procedures_match_models.size -%></div>Procedures Tab</a></li>
	</ul>
	<span id="ifEmpty" style="display: none;">
		<h2>No matches for '<%= @original_search_term %>'</h2>
	</span>
	<div id="modelName">
		<% if @models.empty? %>
		<h2>No matches in model names.</h2>
		<% else %>
		<h2><%= @models.size -%> matched '<%= @original_search_term %>' in the model name:</h2>
		<%= render :partial => "/browse/model_list", :object => @models %>
		<br />
		<% end %>
	</div>
	<div id="authorName">
		<% if @author_match_models.empty? %>
		<h2>No matches in author names.</h2>
		<% else %>
		<h2><%= @author_match_models.size -%> matched '<%= @original_search_term %>' in the author's name:</h2>
		<%= render :partial => "/browse/model_list", :object => @author_match_models %>
		<br />
		<% end %>
	</div>
	<div id="tagName">
		<% if @tag_match_models.empty? %>
		<h2>No matches in tag names.</h2>
		<% else %>
		<h2><%= @tag_match_models.size -%> matched '<%= @original_search_term %>' in one or more tags:</h2>
		<%= render :partial => "/browse/model_list", :object => @tag_match_models %>
		<br />
		<% end %>
	</div>
	<div id="infoTab">
		<% if @info_match_models.empty? %>
		<h2>No matches in info tabs.</h2>
		<% else %>
		<h2><%= @info_match_models.size -%> matched '<%= @original_search_term %>' in the info tab:</h2>
		<%= render :partial => "/browse/model_list", :object => @info_match_models %>
		<br />
		<% end %>
	</div>
	<div id="proceduresTab">
		<% if @procedures_match_models.empty? %>
		<h2>No matches in procedures.</h2>
		<% else %>
		<h2><%= @procedures_match_models.size -%> matched with '<%= @original_search_term %>' in the procedures tab:</h2>
		<%= render :partial => "/browse/model_list", :object => @procedures_match_models %>
		<br />
		<% end %>
	</div>
	
</div>
	
