<% @title = "Search results" %>

<h2>Models with '<%= @original_search_term %>' in their name</h2>
<% if @models.empty? %>
<p>No matches in model names.</p>
<% else %>
<%= render :partial => "/browse/model_list", :object => @models %>
<br />
<% end %>

<h2>Models with '<%= @original_search_term %>' in the author's name</h2>
<% if @author_match_models.empty? %>
<p>No matches in author names.</p>
<% else %>
<%= render :partial => "/browse/model_list", :object => @author_match_models %>
<br />
<% end %>

<h2>Models with '<%= @original_search_term %>' in one or more tags</h2>
<% if @tag_match_models.empty? %>
<p>No matches in tag names.</p>
<% else %>
<%= render :partial => "/browse/model_list", :object => @tag_match_models %>
<br />
<% end %>

<h2>Models with '<%= @original_search_term %>' in the info tab</h2>
<% if @info_match_models.empty? %>
<p>No matches in info tab.</p>
<% else %>
<%= render :partial => "/browse/model_list", :object => @info_match_models %>
<br />
<% end %>

<h2>Models with '<%= @original_search_term %>' in the procedures tab</h2>
<% if @procedures_match_models.empty? %>
<p>No matches in procedures names.</p>
<% else %>
<%= render :partial => "/browse/model_list", :object => @procedures_match_models %>
<br />
<% end %>
