<% @title = "Search results" %>

<h2>Models whose names contain '<%= @original_search_term %>'</h2>

<% if @models and (not @models.empty?) %>
    <%= render :partial => "/browse/model_list", :object => @models %>
<% else %>
    <p>No matches in model names.</p>
<% end %>

<h2>Models with '<%= @original_search_term %>' in their info tab</h2>

<% if @info_match_models and (not @info_match_models.empty?) %>
    <%= render :partial => "/browse/model_list", :object => @info_match_models %>
<% else %>
    <p>Search of Info tab is under construction.</p>
<% end %>

<h2>Models with '<%= @original_search_term %>' in their procedures tab</h2>

<% if @procedures_match_models and (not @procedures_match_models.empty?) %>
    <%= render :partial => "/browse/model_list", :object => @procedures_match_models %>
<% else %>
    <p>Search of Procedures tab is under construction.</p>
<% end %>

<h2>Models with '<%= @original_search_term %>' in author name(s)</h2>

<% if @author_match_models and (not @author_match_models.empty?) %>
    <%= render :partial => "/browse/model_list", :object => @author_match_models %>
<% else %>
    <p>No matches in author names.</p>
<% end %>

<h2>Models with '<%= @original_search_term %>' in one or more tags</h2>

<% if @tag_match_models and (not @tag_match_models.empty?) %>
    <%= render :partial => "/browse/model_list", :object => @tag_match_models %>
<% else %>
    <p>No matches in tag names.</p>
<% end %>


