<% @title = "Upload a NetLogo model" %>

<% form_for (:new_model,
   :url => { :action => :create_model },
:html => {:multipart => true}) do |form| %>

<table>

  <tr>
    <td>Model name</td>
    <td><%= form.text_field :name, :size => 30 %></td>
  </tr>
  <tr>
    <td>Model file</td>
    <td><%= form.file_field :uploaded_body %></td>
  </tr>
  <tr>
    <td><b>Optional:</b>Preview image, in PNG format</td>
    <td><%= form.file_field :uploaded_preview %></td>
  </tr>

</table>

<% if !@person.groups.empty? %>
    <hr />
    <h2>Optional: Set the group</h2>

    <%= render :partial => "browse/group_selector", :locals => {:person => @person, :model => nil} -%>
<% end %>

<hr />
<h2>Optional: Set the permissions</h2>

<%= render :partial => "browse/permission_selector", :locals => {:person => @person, :model => nil} -%>

<br />
<%= submit_tag "Upload model", :class => "submit" %>
<% end %>

