<% @title = "Upload a NetLogo model" %>

<%= form_for(:new_model, :url => { :action => :create_model }, :html => {:multipart => true, :id => 'new-model-form'}) do |form| %>

<p class="shaded-bg"><b>Updating an existing model? Don't use this
  page.  Instead, use the "upload" tab on the model's page, which will
  preserve its history, discussion, collaborators, and tags.</b></p>

<table>

  <tr>
    <td>Model name (can be anything)</td>
    <td><%= form.text_field :name, :size => 30 %></td>
  </tr>
  <tr>
    <td>Model file (must end with ".nlogo")</td>
    <td><%= form.file_field :uploaded_body %></td>
  </tr>
  <tr>
    <td><b>Optional:</b>Preview image, in PNG format</td>
    <td><%= form.file_field :uploaded_preview %></td>
  </tr>

</table>

<% if !@person.groups.empty? %>
    <hr />
    <h2>Optional: Set the group</h2>

    <%= render :partial => "browse/group_selector", :locals => {:person => @person, :model => nil} -%>
<% end %>

<hr />
<h2>Optional: Set the permissions</h2>

<p id="permission-group-reminder">To set permissions, you must first choose a group.</p>

<%= render :partial => "browse/permission_selector", :locals => {:person => @person, :model => nil} -%>

<br />
<%= submit_tag "Upload model", :class => "submit" %>
<% end %>

<script>
  $("#new-model-form").validate({
  rules: {
      'new_model[name]': 'required',
      'new_model[uploaded_body]': 'required'
   } } );
</script>

