<html>
    <body>
    <h1>Password reset</h1>

    <p>You (or someone using your e-mail address) recently requested a new password from the
    <%= link_to "NetLogo Modeling Commons", :host => 'modelingcommons.org', :controller => :account, :action => :mypage %>.</p>

    <p>Your e-mail address (which is used to log in) is '<%= @person.email_address %>'.  Your new password is</p>

    <blockquote><%= @new_password %></blockquote>

    <p>You may change this password on the
    <%= link_to "Edit personal details", :host => 'modelingcommons.org', :controller => :account, :action => :edit, :id => @person.id %> page.

    <p>If you have any comments or questions about the Modeling Commons,
    please send e-mail to
    <%= mail_to "modelingcommons@ccl.northwestern.edu", 'us' %>.

    </body>
</html>
