<html>
  <body>
    <h1>Possible spam reported</h1>

    <p>User <%= @person.fullname %> (ID <%= @person.id %>) has reported that <a href="http://modelingcommons.org/browse/one_model/<%= @node.id %>"><%= @node.name %></a> (ID <%= @node.id %>) is spam.  Please check into this.</p>

  </body>
</html>
