<p>Greetings, <%= @person.first_name %>, from the  <a href="http://modelingcommons.org/">NetLogo Modeling Commons</a>!</p>

<p>This is a weekly update, describing how often your models are
  viewed and downloaded. (Follow us on Twitter
  as <a href="http://twitter.com/modelingcommons">@modelingcommons</a>!)</p>

<p>
<% if @new_people_last_week > 0 %>
<%= @new_people_last_week %> new users joined the Modeling
  Commons last week, bringing us to a total of  <%= number_with_delimiter(@number_of_people) %>.
<% end %>

<% if @new_models_last_week > 0 %>
  Users uploaded <%= @new_models_last_week %> new models, for a total
  of <%= number_with_delimiter(@number_of_models) %>.
<% end %>
</p>

<% if @models_looking_for_help.count > 0 %>
<p><%= @models_looking_for_help.count %> models are looking for help
  from the NetLogo community:
  <%= raw @models_looking_for_help.sort_by {|m| m.name}.map {|m| link_to(m.name, m.url)}.to_sentence %>.</p>
<% end %>

<style>
  tr:nth-child(even) {
  background: #CCC;
  }
  tr:nth-child(odd) {
  background: #FFF
  }

  .highlight {
  color: #ffff00;
  background-color: red;
  font-weight: bold;
  }

</style>

<table>
  <tr>
    <th>Model</th>
    <th>Visibility</th>
    <th>Views</th>
    <th>Downloads</th>
    <th>Recommendations</th>
    <th>Runs</th>
    <th>Collaborators (other than you)</th>
    <th>Postings</th>
    <th>Unanswered questions</th>
    <th>Tags</th>
  </tr>

  <% @person.models.sort_by(&:name).each do |model| %>
    <tr>
      <td><%= link_to model.name, "http://modelingcommons.org/browse/one_model/#{model.id}" %></td>
      <td><%= model.permission_description %></td>
      <td><%= model.views %> (<%= model.views_last_week %> last week)</td>
      <td><%= model.downloads %> (<%= model.downloads_last_week %> last week)</td>
      <td><%= model.recommendations.count %></td>
      <td><%= model.runs %> (<%= model.runs_last_week %> last week)</td>
      <td>
	<span class="<%= (model.all_collaborators.count == 1) ? "highlight" : "" %>">
	  <%= model.all_collaborators.count - 1 %>
	</span>
      </td>
      <td><%= model.active_postings.count %></td>
      <td>
	<span class="<%= !model.unanswered_questions.empty? ? "highlight" : "" %>">
	  <%= model.unanswered_questions.count %>
	</span>
      </td>
      <td>
	<span class="<%= model.tags.empty? ? "highlight" : "" %>">
	  <%= model.tags.size %>
	</span>
      </td>
    </tr>
  <% end %>
</table>

<p><span class="highlight">Highlighted</span> items point to things
  that you can do to improve your model's visibility: Specifying
  collaborators (using the "add a collaborator" link), adding tags
  (using the "add a tag" link), and answering questions (on the
  "discussion" tab).  If you're looking for help with your model,
  just click on the "looking for collaborators" checkbox at the top
  of the model's page.</p>

<p>Remember that each model page has built-in links that let you
  spread the word via e-mail, Twitter, and Facebook.</p>

<p>To remove yourself from these notifications, click on <a href="http://modelingcommons.org/account/edit">edit your profile</a> from any page on the <a href="http://modelingcommons.org">Modeling Commons</a>.</p>

<p>If you have any questions about the Modeling Commons, please <a href="mailto:modelingcommons@ccl.northwestern.edu">contact us</a>.  We enjoy getting feedback, and helping to improve the Modeling Commons for our users.</p>
