Greetings, <%= @person.first_name %>, from the NetLogo Modeling Commons!

    <p>Follow us on Twitter
    as <a href="http://twitter.com/modelingcommons">@modelingcommons</a>,
    for the latest updates.</p>

<% if @new_people_last_week > 0 %>
<%= @new_people_last_week %> new users joined the Modeling
  Commons last week, bringing us to a total of  <%= number_with_delimiter(@number_of_people) %>.
<% end %>

<% if @new_models_last_week > 0 %>
  Users uploaded <%= @new_models_last_week %> new models, for a total
  of <%= number_with_delimiter(@number_of_models) %>.
<% end %>

<% if @models_looking_for_help.count > 0 %>
<%= @models_looking_for_help.count %> models are looking for help
  from the NetLogo community:
  <%= raw @models_looking_for_help.sort_by {|m| m.name}.map {|m| link_to(m.name, m.url)}.to_sentence %>.
<% end %>

We keep track of how often your models are viewed and downloaded, and wanted to share that information with you:

  <% @person.models.each do |model| %>
    - <%= link_to model.name, "http://modelingcommons.org/browse/one_model/#{model.id}" %>: Viewed <%= pluralize(model.views, 'time') %>, downloaded <%= pluralize(model.downloads, 'time') %>, recommended <%= pluralize(model.recommendations.count, 'time') %>, run <%= pluralize(model.runs, 'time') %> -- <%= model.permission_description %>
  <% end %>

Want more people to see, download, comment on, or tag a model? Tell them about it!  Each model's page has built-in links that let you e-mail friends, or notify others via Twitter and Facebook. Also remember that every time you create a new model or upload a new version, it is placed at the top of each user's profile page.

To remove yourself from such notifications in the future, click on "edit your profile" from any page on the Modeling Commons.

If you have any questions about the Modeling Commons, please contact us.  We enjoy getting feedback, and helping to improve the Modeling Commons for our users.
