<tr><td><%= person_image(posting.person) %> <%= person_link(posting.person) %>, <%= distance_of_time_in_words(Time.now, posting.created_at) -%> ago </td>
  <th><%= h(posting.title) %></th>
  <td><%= h(posting.body) %></td>
  <td>&nbsp;</td>
</tr>
