<% if posting.deleted_at.nil? or posting.person == @person %>
<table class="comments">
		<tr>
			<td class="person">
				<div>
				<a href="<%= person_url(posting.person) %>"><%= person_image(posting.person, :medium) %></a>
				<p><%= person_link(posting.person) %></p>
				</div>
			</td>
			<td class="comment">
				
				<div class="comment_box_container">
					
					<div class="comment_box">
						<h1 class="<%= 'deleted' if posting.deleted_at? -%>">
							<%= h(posting.title) %>
							<% if posting.is_question? %>
								<span class="question">
							  <% if posting.was_answered? %>
					          	(Answered Question)
					          <% else %>
								(Question)
					          <% end %>
							</span>
							<% end %>
						</h1>
						<p class="<%= 'deleted' if posting.deleted_at? -%>"><%= posting.body.gsub(/[\r\n]+/, '<br />') %></p>
						<div class="left-right">
							<div class="left">
								<h2>Posted <%= distance_of_time_in_words(Time.now, posting.created_at) -%> ago</h2>
							</div>
							<div class="right">
								<h2>
									<% if posting.person == @person %>
										  <% if posting.deleted_at %>
									      <%= link_to "Undelete", :controller => :discussion, :action => :undelete, :id => posting.id %>
									      <% else %>
									      <%= link_to "Delete", :controller => :discussion, :action => :delete, :id => posting.id %>
									      <% end %> 
									 <% if posting.is_question? %>
									 	|
									      <% if posting.was_answered? %>
								          <%= link_to "Mark as unanswered", :controller => :discussion, :action => :mark_as_unanswered, :id => posting.id %>
								          <% else %>
								          <%= link_to "Mark as answered", :controller => :discussion, :action => :mark_as_answered, :id => posting.id %>
								          <% end %>
								      <% end %>
									<% end %>
								</h2>
							</div>
						</div>
					</div>
					<div class="comment_arrow_container">
						<div class="black">
						</div>
						<div class="white">
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>




<% end %>
