<% @title = 'Projects' %>

<p><%= link_to "Create a new project", :controller => :projects, :action => :new -%></p>
<br />

<% if @projects.empty? %>
<p><i>No projects have been created.</i></p>
<% else %>
<div id="custom_filters">
Sort by<select id="project_sort_by">
	<option value="pn">Project Name</option>
	<option value="on">Owner Name</option>
	<option value="mc">Model Count</option>
</select>
<label for="project_show_you">Show only your projects<input type="checkbox" id="project_show_you" /></label>
</div>
<table id="projects_table">
	<tbody>
		<% @projects.each do |project| %>
		<tr>
			<td>
				<div class="project">
					<div class="project_image">
						<img src="/images/model.png" />
					</div>
					<div class="project_info">
						<div class="project_person">
							<%= person_image(project.person) -%><%= person_link(project.person) -%>
						</div>
						<div class="project_name">
							<%= link_to project.name, :controller => :projects, :action => :show, :id => project.id -%>
						</div>	
						<div class="project_count">
							<%= pluralize(project.nodes.count, "model") -%> in project
						</div>
					</div>
					<div class="project_more">
							<div class="left-right">
								<div class="left">
									<button>Show models</button>
								</div>
								<div class="right">
									<% if project.person == @person %>
									<% if !@models_to_add.empty? %>
									<% form_tag :controller => :projects, :action => :add_model do  %>
									<%= hidden_field_tag :project_id, project.id -%>
									Add one of your models to this project:
									<%= select_tag :model_id, options_for_select(@models_to_add)  %>
									<%= submit_tag "Add model" %>
									<% end %>
									<% end %>
									<% end %>
								</div>
							</div>
						</div>
					<div class="project_model_list hidden">
					<%= render :partial => "/browse/model_list", :object => project.nodes %>
					</div>
				</div>
			</td>
			<td><%= project.name -%></td>
			<td><%= project.person.fullname -%></td>
			<td><%= project.nodes.count -%></td>
			<td>
				<% if project.person == @person %>
				true
				<% else %>
				false
				<% end %>
			</td>
		</tr>
		<% end %>	
	</tbody>
</table>
<% end %>

<br />
<p><%= link_to "Create a new project", :controller => :projects, :action => :new -%></p>
