<% @title = 'Projects (collections of models)' %>
<% if @person %>
<p><%= create_project_button -%></p>
<% end %>
<% if @projects.empty? %>
<p><i>No projects have been created.</i></p>
<% else %>
<div id="custom_filters">
  Sort by<select id="project_sort_by">
    <option value="pn">Project Name</option>
    <option value="on">Owner Name</option>
    <option value="mc">Model Count</option>
  </select>
  <% if @person %>
  <label for="project_show_you">Show only your projects<input type="checkbox" id="project_show_you" /></label>
  <% end %>
</div>
<table id="projects_table">
  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td class="shadowbox">
	<div class="project">
	  <div class="heading"><%= project_link(project) -%></div>
	  <div class="contents">
	    <div class="project_image">
	      <a href="<%= project_url(project) -%>"><%= project_image(project) %></a>
	    </div>
	    <div class="project_model_list">
	      <% if project.nodes.length > 0 %>
	        <p><%= link_to "Download project", :controller => :projects, :action => :download, :id => project.id %></p>
	      <% else %>
	        <p>No models in project</p>
	      <% end %>
	      <ul>
      		<% num_projects_to_show = 5%>
      		<% project.nodes[0..(num_projects_to_show - 1)].each do |model| %>
      		<li><%= link_to model.name, model_url(model) -%></li>
      		<% end %>
	      </ul>
	      <% if project.nodes.length > num_projects_to_show %>
	        <p><%= link_to 'And ' << (project.nodes.length - num_projects_to_show).to_s() << ' more', project_url(project) -%></p>
        <% end %>
        
	    </div>
	    <h2><%= link_to (person_image(project.person) + project.person.fullname), person_url(project.person) -%></h2>
	  </div>
	</div>
      </td>
      <td><%= project.name -%></td>
      <td><%= project.person.fullname -%></td>
      <td><%= project.nodes.count -%></td>
      <td>
	<% if project.person == @person %>
	true
	<% else %>
	false
	<% end %>
      </td>
    </tr>
    <% end %>	
  </tbody>
</table>
<% end %>
<% if @person %>
<p><%= create_project_button -%></p>
<% end %>
