<% @title = "'#{@project.name}' project" -%>
<div id="project_page">
<div id="project_image"><%= project_image(@project) %></div>
<div id="project_info">
	<p>The project is owned by <%= person_link(@project.person) -%> and contains <%= pluralize(@project.nodes.size, "model") -%></p>
	<% if @project.person == @person %>
	<% if !@models_to_add.empty? %>
	<% form_tag :controller => :projects, :action => :add_model do  %>
	<p>
	<%= hidden_field_tag :project_id, @project.id -%>
	Add one of your models to this project:
	<%= select_tag :model_id, options_for_select(@models_to_add)  %>
	<%= submit_tag "Add model" %>
	</p>
	<% end %>
	<% end %>
	<% end %>
</div>
<% if @project.nodes.empty? %>
<p><i>No models in this project.</i></p>
<% else %>



<% buttons = Proc.new { |model|
	str = '' 
	if @project.person == @person
		str << link_to('<button title="Remove model from project">Remove</button>', :controller => :projects, :action => :remove_model, :id => @project.id, :model_id => model.id)
	end
	str
} %>
<h1>Models</h1>
<%= render :partial => "browse/model_list", :object => @project.nodes, :locals => {:buttons => buttons } %>
<% end %>
</div>

