<% @title = "'#{@project.name}' project" -%>
<div id="project_page">
  <div id="preview_info_container">
    <div id="preview_image">
      <%= project_image(@project) %>
    </div>
    <div id="preview_info">
      <div id="project_owner">
      	<div>
      	  This project is owned by <%= person_link(@project.person) -%> and contains <%= pluralize(@project.nodes.size, "model") -%>
      	</div>
	      <span class="project-download"></span>
      </div>
      <div>
	      <div> 
	        <%= link_to "Download project", :controller => :projects, :action => :download, :id => @project.id %>
	      </div>
      </div>
      <div id="add_model_to_project">
      	<div>
      	  <% if @project.person == @person %>
      	  <% if !@models_to_add.empty? %>
      	  <%= form_tag :controller => :projects, :action => :add_model do  %>
      	  <%= hidden_field_tag :project_id, @project.id -%>
      	  Add one of your models to this project:
      	  <%= select_tag :model_id, options_for_select(@models_to_add)  %>
      	  <%= submit_tag "Add model" %>
      	  <% end %>
      	  <% end %>
      	  <% end %>
      	</div>
      </div>
    </div>
    
    
  </div>
  <% if @project.nodes.empty? %>
  <p><i>No models in this project.</i></p>
  <% else %>



  <% buttons = Proc.new { |model|
     str = '' 
     if @project.person == @person
     str << link_to('<button title="Remove model from project">Remove</button>', :controller => :projects, :action => :remove_model, :id => @project.id, :model_id => model.id)
  end
  str
  } %>
  <h1>Models</h1>
  <%= render :partial => "browse/model_list", :object => @project.nodes, :locals => {:buttons => buttons, :title => 'Project' } %>
  <% end %>
</div>

