<tr>
  <td><%= link_to tm.tag.name, :controller => "tags", :action => "one_tag", :id => tm.tag_id -%></td>
  <td><%= tm.comment -%></td>
  <td><%= person_link(tm.person) -%></td>
  <td><%= distance_of_time_in_words(Time.now, tm.updated_at) -%> ago</td>
  <% if @person and (@person.administrator? or @person == tm.person) -%>
  <td>
  	<% form_tag({:controller => :tags, :action => :destroy, :id => tm.id}, :class => 'tag_delete_form') do %>
  	<%= hidden_field_tag 'id', tm.id -%>
    <a href="#">Remove</a>
    <% end %>
  </td>
  <% end %>
</tr>

