<% @title = "One tag: #{@tag.name}" %>

<p><%= link_to image_tag("feed.png"), :controller => :tags, :action => :follow, :id => @tag.id, :format => :atom %> Subscribe to updates for this tag in your feed reader.</p>

<h2>Tag creation:</h2>
<ul>
  <li>Tag created by <%= person_link(@tag.person) %> on <%= @tag.created_at %></li>
  <% if @tag.tagged_nodes.empty? %>
  <p>This tag has never been used.</p>
  <% else %>
  <li>First used <%= distance_of_time_in_words(Time.now, @tag.tagged_nodes.sort_by {|tm| tm.updated_at}[0].updated_at) -%> ago.</li>
  <% end %>
</ul>

<h2>Models using this tag:</h2>
<p><%= link_to "Download all models with this tag", :controller => :tags, :action => :download, :id => @tag.id %>
<ul>
  <% if @tag.nodes.empty? %>
  <p>No models have been tagged with <%= @tag.name %>.</p>
  <% else %>
  <% @tag.nodes.uniq.each do |model| %>
  <% next unless model.visible_to_user?(@person) %>
  <li><%= link_to model.name, :controller => "browse", :action => "one_model", :id => model.id %></li>
  <% end %>
  <% end %>
</ul>

<h2>Uses of this tag:</h2>
<ul>
  <% if @tag.tagged_nodes.empty? %>
  <p>No models have ever been tagged with <%= @tag.name %>.</p>
  <% else %>
  <% @tag.tagged_nodes.sort_by {|t| t.updated_at}.each do |tm| %>
  <% next unless tm.node.visible_to_user?(@person) %>
  <li><%= link_to tm.node.name, :controller => "browse", :action => "one_model", :id => tm.node_id %> 
  <%= " (#{tm.comment}), " if tm.comment.present? %>
  by <%= link_to tm.person.fullname, :controller => :account, :action => :mypage, :id => tm.person.id %> <%= distance_of_time_in_words(Time.now, tm.updated_at) -%> ago </li>
  <% end %>
  <% end %>
</ul>

<h2>People who have used this tag:</h2>
<ul>
  <% if @tag.tagged_nodes.empty? %>
  <p>No people have ever tagged models with <%= @tag.name %>.</p>
  <% else %>
  <% @tag.tagged_nodes.map {|tm| tm.person}.uniq.sort_by {|p| "#{p.last_name} #{p.first_name}" }.each do |person| %>
  <li><%= link_to person.fullname, :controller => "account", :action => "mypage", :id => person.id %></li>
  <% end %>
  <% end %>
</ul>
