<div>
  <% if @model.cannot_be_run_as_applet? and @person and !@person.administrator? %>
  <p>Sorry, but this model cannot be viewed as an applet.  You must <%= link_to "download it", :controller => :browse, :action => :download_model, :id => @model.id -%> and run it within NetLogo on your local computer.</p>
  <% else %>
  <!-- browse_applet_tab -->
  <div id="model_click_to_load"  >
  	Click to Run Model
  </div>
  <div id="model_container" class="model_container">

  <% applet_filename = "/applet/#{@model.netlogo_version_for_applet}/NetLogoLite.jar" -%>

  <applet id="model_applet"
     code="<%= @model.applet_class -%>"
     align="bottom"
     width="<%= @model.dimensions[:width] -%>" height="<%= @model.dimensions[:height] -%>"
     archive="<%= applet_filename -%>" >

    <param name="DefaultModel" value="<%= url_for :controller => :browse, :action => :model_contents, :id => @model.id -%>"></param>
  </applet>
 </div>
  <% end %>

  <!-- Add model HTML file, if there is one -->
  <div id="applet-html"><%= @model.html -%></div>

</div>
