<div>
  <h2>Attached files</h2>

  <% if @model.attachments.all.empty? -%>
  <p>No files</p>
  <% else -%>
  <table id="file-table" class="simple_table">
    <thead>
      <tr>
        <th>File</th>
        <th>Type</th>
        <th>Description</th>
        <th>Last updated</th>

        <% if @model.visible_to_user?(@person) %>
        <th></th><!-- Download -->
        <% end %>

        <% if @model.changeable_by_user?(@person) %>
        <th></th><!-- Delete -->
        <% end %>

      </tr>
    </thead>

    <tbody>
      <% @model.attachments.all.sort_by {|f| f.filename.downcase}.each do |f| -%>

      <tr>
        <td><%= f.filename -%></td>
        <td><%= f.content_type -%></td>
        <td><%= f.description %></td>
        <td><%= distance_of_time_in_words(Time.now, f.updated_at) -%> ago, by <%= person_link(f.person) %></td>
        <% if @model.visible_to_user?(@person) %>
        <td>
        <%= link_to("Download", :controller => :file, :action => :download, :id => @model.id, :file_id => f.id) %>
        </td>
	<% end %>

        <% if @model.changeable_by_user?(@person) %>
        <td>
        <%= link_to("Delete", {:controller => :file, :action => :delete, :id => @model.id, :file_id => f.id}, :confirm => "Really delete '#{f.filename}'?" ) %>
        </td>
        <% end %>
        
      </tr>
      <% end -%>
    </tbody>

  </table>

  <% end -%>

  <% if @person %>
  <h2>Add or update an attached file</h2>

  <p>Use this form to attach one or more files to your model &mdash; data, images,
  presentations, or papers.  (To update the model itself, go <a href="#model_tabs_browse_upload_tab">here</a>.)</p>

  <%= form_tag({:controller => :file, :action => :create}, {:multipart => true, :id => 'new-file-form'}) do %>
  <table>
    <tr>
      <td>File</td>
      <td><%= file_field_tag :uploaded_file, :size => 60 %>
        <%= hidden_field_tag :id, @model.id %></td>
      <td></td>
    </tr>

    <tr>
      <td>Description</td>
      <td><%= text_field_tag :description, nil, :size => 80 %></td>
      <td></td>
    </tr>

    <tr>
      <td>File type:</td>
      <td><%= select("document", "type", Attachment::TYPES.keys.sort, { :include_blank => true }) %></td>
      <td></td>
    </tr>

    <tr>
      <td colspan="3"><%= submit_tag "Upload file", :class => "submit" %></td>
    </tr>

  </table>
  <% end %>
  <% end %>
</div>

<script>
  $("#new-file-form").validate({
  rules: {
      'document[type]': 'required',
      'uploaded_file': 'required',
      'description': 'required'
   }, 
   errorPlacement: function(error, element) {
		element.parents("tr").children("td:last").append(error);
	}
   });
</script>

