<div>
  <h2>Existing tags:</h2>
  
  <p id="no_tags" <% if !@model.tagged_nodes.empty? -%>class="hidden"<% end -%>>No tags have been defined for this model</p>
  
  <table id="existing_tags" class="simple_table<% if @model.tagged_nodes.empty? -%> hidden<% end -%>">
    <thead>
      <tr>
		<th>
		  Tag Name
		</th>
		<th>
		  Comment
		</th>
		<th>
		  Tagged By
		</th>
		<th>
		  Date Tagged
		</th>
		<% if @person and @person.administrator? %>
		<th>
		  Remove Tag
		</th>
		<% end %>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "tags/one_tag", :collection => @model.tagged_nodes.sort_by {|tn| tn.updated_at}, :as => :tm -%>
    </tbody>
  </table>
  <% if @person %>
  <div id="add_tags">
    <h2>Add one or more tags:</h2>
    <%= form_for(:new_tag, :url => {:controller => :tags, :action => :create}, :html => {:id => 'add_tag_form'}) do |form| -%>
    <%= hidden_field_tag :node_id, @model.id -%>
    <div id="new_tags">
      <%= render :partial => "add_tag", :locals => {:form => form} -%>
    </div>
    <p><%= add_tag_link "Add another tag" -%></p>
    <p><%= submit_tag "Save tags to the Commons", :id => 'submit_button' -%></p>
    <% end -%>
  </div>

  <% end %>
</div>
