<div>
  <b>Do you have questions or comments about this model?  Ask them
  here!</b>

  <table id="discussion">
  <%= render :partial => "discussion/one_posting", :collection => node.postings.sort_by {|posting| posting.created_at}, :as => :posting -%>
  </table>

  <hr />

  <% form_for(:new_posting, :remote => true,
     :url => { :controller => "discussion", :action => :new }) do |form| %>
  <table id="posting-table">
    <tr>
      <td>Title</td>
      <td><%= form.text_field :title %>
    </tr>
    <tr>
      <td>Body</td>
      <td><%= form.text_area :body, {:cols => 40, :rows => 10} %>
        <%= form.hidden_field :node_id, {:value => node.id} %></td>
    </tr>
    <tr>
      <td colspan="2"><%= form.check_box :is_question %><label for="new_posting_is_question">This is a question that I would like answered</label></td>
    </tr>

    <tr>
      <td colspan="2"><%= submit_tag 'Submit comment' %></td>
    </tr>

  </table>
  <% end %>
</div>
