<div id="group-div" class="main-div" style="display:none;">
  <div id="group_tabs">
    <ul class="subsection_tabs">
      <li class="tab"><a id="your-groups-tab" href="#your-groups-div">Your groups</a></li>
<!--      <li class="tab"><a id="join-group-tab" href="#join-group-div">Join a group</a></li> ->
      <li class="tab"><a id="create-group-tab" href="#create-group-div">Create</a></li>
      <li class="tab"><a id="manage-groups-tab" href="#manage-groups-div">Manage</a></li>
    </ul>
  </div>

  <div id="your-groups-div" class="group-tab" style="display:none;">
    <ul>
      <% @person.memberships.each do |membership| %>
      <li><%= membership.group.name %>
             (<%= link_to "leave", :controller => :membership, :action => :leave, :id => membership.id %>)
        </li>
      <% end %>
    </ul>
  </div>

  <div id="create-group-div" class="group-tab" style="display:none;">
    <h3>Create a group</h3>
    <% form_tag :controller => "membership", :action => :create_group do |form| %>
    <%= text_field_tag "group_name" %>
    <p><%= submit_tag "Create group" %></p>
    <% end %>

  </div>

  <div id="manage-groups-div" class="group-tab" style="display:none;">
    <h3>Groups you manage</h3>
    <ul>
      <% @person.administrated_groups.each do |group| %>
      <li><%= group.name %></li>
      <ul>
        <% group.memberships.each do |membership| %>
        <li><%= membership.person.fullname -%>
          <% if membership.status == 'pending' %>
             (<%= link_to "approve", :controller => :membership, :action => :approve_membership, :id => membership.id %>)
          <% end %>

          <% if membership.person != @person %>
             (<%= link_to "remove", :controller => :membership, :action => :leave, :id => membership.id %>)
              <% if membership.is_administrator? %>
             (<%= link_to "remove administrator", :controller => :membership, :action => :remove_administrator, :id => membership.id %>)
              <% else %>
             (<%= link_to "make administrator", :controller => :membership, :action => :make_administrator, :id => membership.id %>)
              <% end %>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% end %>
    </ul>

    <h3>Invite people to join one of your groups:</h3>

    <% form_tag :controller => "membership", :action => :invite_people do |form| %>
     <%= select("group", "id", @person.groups.to_hash, :selected => @model.group.id) %>
    <p>E-mail addresses, separated by commas:</p>
    <p><%= text_area_tag "invitees" %></p>
    <p><%= submit_tag "Invite users" %></p>
    <% end %>

  </div>

  <div id="join-group-div" class="group-tab" style="display:none;">
    <h3>Join a group</h3>
    <p>Find a group</p>
    <p>Apply for membership in a group</p>
  </div>

</div>
