<p><input type="submit" value="Compare selected versions" /></p>

<table border="1">
  <tr>
    <th></th>
    <th></th>
    <th>Uploaded by</th>
    <th>When</th>
    <th>Description</th>
    <th>Download</th>
  </tr>

  <%= form_tag :controller => :history, :action => :compare_versions, :id => node.id do %>

  <% @model.versions.sort_by {|v| v.created_at}.each do |version| %>
  <tr>
    <td><input type="radio" name="compare_1" value="<%= version.id -%>" /></td>
    <td><input type="radio" name="compare_2" value="<%= version.id -%>" /></td>
    <td><%= person_link(version.person) %></td>
    <td><%= distance_of_time_in_words(Time.now, version.created_at) -%> ago </td>
    <td><%= version.description %></td>
    <td><%= link_to "Download this version", :controller => "browse", :action => "download_model", :id => @model.id, :version => version.id %></td>

  </tr>
  <% end %>


  <% end %>

</table>

<p><input type="submit" value="Compare selected versions" /></p>
