<% if model_list.length > 10 %>
<% @class = 'datatable' -%>
<% end %>

<table class="<%= @class -%>" border="1">

  <thead>
    <tr>
      <th>Model</th>
      <th>Tags</th>
      <th>Group</th>
      <th>Modified</th>
      <th>Modified by</th>
    </tr>
  </thead>
  <tbody>

    <% model_list.sort_by {|n| n.name }.each do |model| %>

    <tr class="<%= cycle('even', 'odd') -%>">
      <td>
        <% start_time = Time.now -%>
        <img src="/browse/display_preview/<%= model.id %>" width="30" height="30" alt="Preview of model '#{model.name}'" />
        <%= link_to model.name, :controller => "browse", :action => "one_model", :id => model.id %><%= render :partial => "browse/preview_image", :locals => {:model => @model} -%>
        <!-- Name and preview render time = <%= Time.now - start_time  -%> -->
      </td>
      <td>
        <% start_time = Time.now -%>
        <% if model.tags.empty? %>
        (No tags)
        <% else %>
        <%= model.tags.sort_by {|t| t.name}.map {|t| link_to t.name, :controller => :tags, :action => :one_tag, :id => t.id}.uniq.join(', ') %>
        <% end %>
        <!-- Tags render time = <%= Time.now - start_time  -%> -->
      </td>

      <td>
        <% start_time = Time.now -%>
        <% if model.group %>
        <%= group_link(model.group) %>
        <% else %>
        (No group)
        <% end %>
        <!-- Group render time = <%= Time.now - start_time  -%> -->
      </td>
      <td>
        <% start_time = Time.now -%>
        <%= distance_of_time_in_words(Time.now, model.updated_at) %> ago
        <!-- Last modified render time = <%= Time.now - start_time  -%> -->
      </td>
      <td>
        <% start_time = Time.now -%>
        <% model.people.each do |person| %>
        <%= person_image(person) %><%= person_link(person) %><br />
        <% end %>
        <!-- People render time = <%= Time.now - start_time  -%> -->
      </td>
    </tr>

    <% end %>

  </tbody>
</table>

