<!-- This partial is the actual table that contains the list of models.-->
<% @render_time = Hash.new(0) %>

<table class="datatable" border="1">

  <thead>
    <tr>
      <!--<th>Preview</th>-->
      <th rowspan="2"><div class="ui-icon"></div>Model</th>
      <th><div class="ui-icon"></div>Owners</th>
      <th><div class="ui-icon"></div>Tags</th>
      <th><div class="ui-icon"></div>Group</th>
      <th><div class="ui-icon"></div>Modified</th>
    </tr>
  </thead>
  <tbody>

    <% model_list.each do |model| %>

    <tr>
      <!--<td>
        <% start_time = Time.now -%>
        <img src="/browse/display_preview/<%= model.id %>" width="30" height="30" alt="Preview of model '<%= model.name -%>'" />
        <% @render_time[:preview] += Time.now - start_time -%>-->
        <!-- Preview render time = <%= Time.now - start_time  -%> -->
      <!--</td>-->
      <td>
        <% start_time = Time.now -%>
        <!-- <%= model.name -%> -->
        <table>
        	<tr>
        		<td><img src="/browse/display_preview/<%= model.id %>" width="30" height="30" alt="Preview of model '<%= model.name -%>'" /></td>
        		<td><%= link_to model.name, :controller => "browse", :action => "one_model", :id => model.id %></td>
        	</tr>
        </table>
        <!--<div class="preview"></div>
  		<div class="cell-content"></div>-->
        
        <% @render_time[:name] += Time.now - start_time -%>
        <!-- Preview render time = <%= Time.now - start_time  -%> -->
        <!-- Name render time = <%= Time.now - start_time  -%> -->
      </td>

      <td>
        <% start_time = Time.now -%>
        <% if model.people.empty? %>
        (No owners)
        <% else %>
        <%= model.people.map {|p| person_link(p) }.to_sentence -%>
        <% end %>

        <% @render_time[:tags] += Time.now - start_time -%>
        <!-- Authors render time = <%= Time.now - start_time  -%> -->
      </td>

      <td>
        <% start_time = Time.now -%>
        <% if model.tags.empty? %>
        (No tags)
        <% else %>
        <%= model.tags.sort_by {|t| t.name}.map {|t| link_to t.name, :controller => :tags, :action => :one_tag, :id => t.id}.uniq.join(', ') %>
        <% end %>
        <% @render_time[:tags] += Time.now - start_time -%>
        <!-- Tags render time = <%= Time.now - start_time  -%> -->
      </td>

      <td>
        <% start_time = Time.now -%>
        <% if model.group %>
        <%= group_link(model.group) %>
        <% else %>
        (No group)
        <% end %>
        <% @render_time[:group] += Time.now - start_time -%>
        <!-- Group render time = <%= Time.now - start_time  -%> -->
      </td>
      <td>
        <% start_time = Time.now -%>
        <span class="hidden_elapsed_time"><%= Time.now-model.updated_at %></span>
        <%= distance_of_time_in_words(Time.now, model.updated_at) %> ago
        <% @render_time[:last_modified] += Time.now - start_time -%>
        <!-- Last modified render time = <%= Time.now - start_time  -%> -->
      </td>
    </tr>

    <% end %>

  </tbody>
</table>

<div>
<!-- Total render time: <%= @render_time.inspect -%> -->
</div>
