<div id="model-div" class="main-div" style="display:none;">
  <div id="model_tabs">
    <ul class="subsection_tabs">
      <li class="tab"><a id="info-tab" href="#info-div">Info</a></li>
      <li class="tab"><a id="family-tab" href="#family-div">Family</a></li>
      <li class="tab"><a id="associated-files-tab" href="#associated-files-div">Files</a></li>
      <li class="tab"><a id="procedures-tab" href="#procedures-div">Code</a></li>
    </ul>
  </div>

  <div id="family-div" class="model-tab" style="display:none;">
    <% if @model.parent.nil? -%>
    <p>No parent node</p>
    <% else -%>
    <p><b>Parent:</b> <%= link_to @model.parent.name, :controller => 'browse', :action => 'one_model', :id => @model.parent.id  -%></p>
    <% end -%>

    <% if @model.children.empty? -%>
    <p>No child nodes</p>
    <% else -%>
    <h3>Children:</h3>
    <ul>
      <% @model.children.all.each do |child| -%>
      <li><%= link_to child.name, :controller => 'browse', :action => 'one_model', :id => child.id  -%></li>
      <% end -%>
    </ul>
    <% end -%>

  </div>

  <div id="associated-files-div" class="model-tab" style="display:none;">
    <% if @model.files.empty? -%>
    <p>No files</p>
    <% else -%>
    <ul>
      <% @model.files.all.sort_by {|f| f.name}.each do |f| -%>
      <li><%= link_to f.filename, :controller => :browse, :action => :one_node, :id => f.id -%> (<%= f.content_type -%>)</li>
      <% end -%>
    </ul>
    <% end -%>

  </div>

  <div id="info-div" class="model-tab" style="display:none;">
  <%= render :partial => "info_div", :locals => {:model => @model} -%>
  </div>

  <div id="procedures-div" class="model-tab"  style="display:none;">
    <p><%= @model.procedures_tab_html -%></p>
  </div>

</div>
