
<% form_tag(:action => 'set_permissions') do %>

<%= hidden_field_tag 'id', @model.id %>

<table>
  <tr>
    <td><h3>Read permission</h3></td>
    <td><h3>Write permission</h3></td>
  </tr>

  <tr>
    <td>
      <table>
        <tr>
          <td><%= radio_button_tag 'read_permission', 'a', @model.visibility.short_form == 'a' %></td>
          <td><label for="read_permission_a">Everyone can see this model.</label></td>
        </tr>
        <tr>
          <td><%= radio_button_tag 'read_permission', 'g', @model.visibility.short_form == 'g' %></td>
          <td><label for="read_permission_g">The model is only visible to group members. </label></td>
        </tr>
        <tr>
          <td><%= radio_button_tag 'read_permission', 'u', @model.visibility.short_form == 'u'  %></td>
          <td><label for="read_permission_u">Only you may see this model.</label></td>
        </tr>
      </table>
    </td>

    <td>
      <table>
        <tr>
          <td><%= radio_button_tag 'write_permission', 'a', @model.changeability.short_form == 'a' -%></td>
          <td><label for="write_permission_a">Everyone can modify this model.</label></td>
        </tr>
        <tr>
          <td><%= radio_button_tag 'write_permission', 'g', @model.changeability.short_form == 'g' %></td>
          <td><label for="write_permission_g">The model can only be modified by group members. </label></td>
        </tr>
        <tr>
          <td><%= radio_button_tag 'write_permission', 'u', @model.changeability.short_form == 'u' %></td>
          <td><label for="write_permission_u">Only you can modify this model.</label></td>
        </tr>
      </table>
    </td>
</table>

<% if not @person.groups.empty? %>
    <% if @model.group %>
        <% model_group_id = @model.group.id %>
        <% else %>
        <% model_group_id = -1 %>
    <% end %>
<p id="permission-group-selector">Model group: <%= select("group", "id", @person.groups.to_hash, :selected => @model.group.id) %>&nbsp;&nbsp;<%= submit_tag "Set permissions and group" %></p>
<% end %>

<% end %>
