<table>
  <tr>
    <td><h3>Read permission</h3></td>
    <td><h3>Write permission</h3></td>
  </tr>

  <tr>
    <td>
      <table>
        <% if @model %>
        <% model_visibility_letter = @model.visibility.short_form %>
        <% model_changeability_letter = @model.changeability.short_form %>
        <% else %>
        <% model_visibility_letter = nil %>
        <% model_changeability_letter = nil %>
        <% end %>

        <tr>
          <td><%= radio_button_tag 'read_permission', 'a', (model_visibility_letter.blank? or model_visibility_letter == 'a') %></td>
          <td><label for="read_permission_a">Everyone can see this model.</label></td>
        </tr>

        <% if @person and !@person.groups.empty? %>
        <tr>
          <td><%= radio_button_tag 'read_permission', 'g', model_visibility_letter == 'g' %></td>
          <td><label for="read_permission_g">The model is only visible to group members.</label></td>
        </tr>
        <% end %>

        <tr>
          <td><%= radio_button_tag 'read_permission', 'u', model_visibility_letter == 'u'  %></td>
          <td>
            <label for="read_permission_u">
              Only you may see this model.
            </label>
          </td>
        </tr>
      </table>
    </td>

    <td>
      <table>
        <tr>
          <td><%= radio_button_tag 'write_permission', 'a', (model_changeability_letter.blank? or model_changeability_letter == 'a') -%></td>
          <td><label for="write_permission_a">Everyone can modify this model.</label></td>
        </tr>

        <% if @person and !@person.groups.empty? %>
        <tr>
          <td><%= radio_button_tag 'write_permission', 'g', model_changeability_letter == 'g' %></td>
          <td><label for="write_permission_g">The model can only be modified by group members.</label></td>
        </tr>
        <% end %>


        <tr>
          <td><%= radio_button_tag 'write_permission', 'u', model_changeability_letter == 'u' %></td>
          <td><label for="write_permission_u">
              Only you may modify this model.
            </label>
          </td>
        </tr>

      </table>
    </td>
</table>
