<% if @model.tagged_nodes.empty? -%>
<p><i>No tags have been defined</i></p>
<% else -%>
<p>Existing tags:</p>
<table id="existing_tags">
  <%= render :partial => "browse/add_tag", :collection => @model.tagged_nodes.sort_by {|tn| tn.updated_at}, :as => :tm -%>
</table>
<% end -%>

<div id="add-tags">
  <h2>Add one or more tags:</h2>
  <%= form_for(:new_tag, :remote => true, :url => {:controller => "tags", :action => :new}) do |form| -%>
  <%= hidden_field_tag :node_id, @model.id -%>
  <div id="tags">
    <%= render :partial => "add_tag", :locals => {:form => form} -%>
  </div>
  <p><%= add_tag_link "Another tag field" -%></p>
  <p><%= submit_tag "Save tags to the Commons" -%></p>
  <% end -%>
</div>
