<% if @model.files.empty? -%>
<p>No files</p>
<% else -%>
<ul>
  <% @model.files.sort_by {|f| f.name}.each do |f| -%>
  <li><%= link_to f.filename, :controller => :browse, :action => :one_node, :id => f.id -%> (<%= f.node_type.short_name -%>)</li>
  <% end -%>
</ul>
<% end -%>

<h2>Add another file</h2>

<% form_tag(:controller => "upload", :action => :add_document, :html => {:multipart => true}) do |form| %>
<table>
  <tr>
    <td>File</td>
    <td><%= form.file_field :uploaded_body %>
      <%= form.hidden_field :parent_node_id, {:value => @model.id} %></td>
  </tr>

      <%= form.hidden_field :node_type, {:value => "3"} %></td>

  <tr>
    <td>Short comment</td>
    <td><%= form.text_field :description %></td>
  </tr>

  <tr>
    <td colspan="2"><%= submit_tag "Upload document", :class => "submit" %></td>
  </tr>

</table>
<% end %>
