<div>
  <% if @model.cannot_be_run_as_applet? %>
  <p>Sorry, but this model cannot be viewed as an applet.  You must <%= link_to "download it", :controller => :browse, :action => :download_model, :id => @model.id -%> and run it within NetLogo on your local computer.</p>
  <% else %>
  <p>Using latest NetLogo from the <%= @model.netlogo_version_for_applet -%> series</p>

  <!-- browse_applet_tab -->
  <applet
     code="<%= @model.applet_class -%>"
     align="bottom"
     width="<%= @model.dimensions[:width] -%>" height="<%= @model.dimensions[:height] -%>"

     archive="/applet/<%= @model.netlogo_version_for_applet -%>/NetLogoLite.jar" >
    <param name="DefaultModel" value="<%= url_for :controller => :browse, :action => :model_contents, :id => @model.id -%>"></param>
  </applet>
  <% end %>

  <!-- Add model HTML file, if there is one -->
  <div id="applet-html"><%= @model.html -%></div>

</div>
