<div>
  <% if @model.tagged_nodes.empty? -%>
  <p><i>No tags have been defined for this model.</i></p>
  <% else -%>
  <h2>Existing tags:</h2>
  <table id="existing_tags">
    <%= render :partial => "tags/one_tag", :collection => @model.tagged_nodes.sort_by {|tn| tn.updated_at}, :as => :tm -%>
  </table>
  <% end -%>

  <% if @person %>
  <div id="add_tags">
    <h2>Add one or more tags:</h2>
    <% remote_form_for(:new_tag, :url => {:controller => :tags, :action => :create}) do |form| -%>
    <%= hidden_field_tag :node_id, @model.id -%>
    <div id="new_tags">
      <%= render :partial => "add_tag", :locals => {:form => form} -%>
    </div>
    <p><%= add_tag_link "Add another tag" -%></p>
    <p><%= submit_tag "Save tags to the Commons", :id => 'submit_button' -%></p>
    <% end -%>
  </div>

  <% end %>
</div>
