<% if @model.node_versions.count == 1 %>

<p>There is only one version of this model, created
  <%= distance_of_time_in_words(Time.now, @model.node_versions.first.created_at) %> ago.</p>

<% else %>

<% form_tag :controller => :browse, :action => :compare_versions, :id => @model.id do |form| %>

<p><input type="submit" value="Compare selected versions" /></p>

<table border="1">
  <tr>
    <th></th>
    <th></th>
    <th>Uploaded by</th>
    <th>When</th>
    <th>Description</th>
    <th>Download</th>
    <th>Revert</th>
  </tr>

  <% @model.node_versions.sort_by {|v| v.created_at}.reverse.each do |version| %>
  <tr>
    <td><input type="radio" name="compare_1" value="<%= version.id -%>" /></td>
    <td><input type="radio" name="compare_2" value="<%= version.id -%>" /></td>
    <td><%= person_link(version.person) %></td>
    <td><%= distance_of_time_in_words(Time.now, version.created_at) -%> ago </td>
    <td><%= version.description %></td>
    <td><%= link_to "Download this version", :controller => "browse", :action => "download_model", :id => @model.id, :version => version.id %></td>

  </tr>
  <% end %>



</table>

<p><input type="submit" value="Compare selected versions" /></p>
<% end %>
<% end %>
