<div>
  <% if @model.files.empty? -%>
  <p>No files</p>
  <% else -%>
  <ul>
    <% @model.files.sort_by {|f| f.name}.each do |f| -%>
    <li><%= link_to f.filename, :controller => :browse, :action => :one_node, :id => f.id -%> (<%= f.node_type.short_name -%>)</li>
    <% end -%>
  </ul>
  <% end -%>

  <h2>Add or update a file</h2>

  <% form_tag({:controller => "upload", :action => :add_document}, {:multipart => true}) do %>
  <table>
    <tr>
      <td>File</td>
      <td><%= file_field_tag 'document[uploaded_body]' %>
        <%= hidden_field_tag 'document[parent_node_id]', @model.id %>
    </tr>

    <tr>
      <td>Description</td>
      <td><%= text_field_tag 'document[description]', nil, :size => 80 %></td>
    </tr>

    <tr>
      <td>File type:</td>
      <td><%= select("document", "node_type_id", NodeType.find(:all, :conditions => "id > 1").sort_by {|nt| nt.name}.collect {|nt| [ nt.name, nt.id ] }, { :include_blank => false }) %>
    </tr>

    <tr>
      <td colspan="2"><%= submit_tag "Upload document", :class => "submit" %></td>
    </tr>

  </table>
  <% end %>
</div>
