<div>
  <% if @model.files.empty? -%>
  <p>No files</p>
  <% else -%>
  <table id="file-table" border="1">
    <thead>
      <tr>
        <th>File</th>
        <th>Type</th>
        <th>Description</th>
        <th>Last updated</th>
      </tr>
    </thead>

    <tbody>
      <% @model.files.sort_by {|f| f.name.downcase}.each do |f| -%>

      <tr>
        <td><%= link_to f.name, :controller => :browse, :action => :one_node, :id => f.id -%></td>
        <td><%= f.node_type.name -%> (<%= pluralize(f.node_versions.count, "version") -%>)</td>
        <td><%= f.description %></td>
        <td><%= distance_of_time_in_words(Time.now, f.updated_at) -%> ago, by <%= person_link(f.most_recent_author) %></td>
      </tr>
      <% end -%>
    </tbody>

  </table>

  <% end -%>

  <% if @person %>
  <h2>Add or update a file</h2>

  <% form_tag({:controller => "upload", :action => :add_document}, {:multipart => true}) do %>
  <table>
    <tr>
      <td>File</td>
      <td><%= file_field_tag :uploaded_file, :size => 60 %>
        <%= hidden_field_tag :id, @model.id %>
    </tr>

    <tr>
      <td>Description</td>
      <td><%= text_field_tag :description, nil, :size => 80 %></td>
    </tr>

    <tr>
      <td>File type:</td>
      <td><%= select("document", "node_type_id", NodeType.find(:all, :conditions => "id > 1").sort_by {|nt| nt.name}.collect {|nt| [ nt.name, nt.id ] }, { :include_blank => false }) %>
    </tr>

    <tr>
      <td colspan="2"><%= submit_tag "Upload file", :class => "submit" %></td>
    </tr>

  </table>
  <% end %>
  <% end %>
</div>
