<ul>
    <% if @group %>
        <li><%= link_to "Show models for all of your groups", :controller => :browse, :action => :list_models_group, :id => nil %></li>
    <% end %>

    <% @person.groups.select {|g| !g.nodes.empty?}.each do |person_group| %>
    <% if @group and @group.id == person_group.id %>
        <li><b>Now showing '<%= pluralize(person_group.nodes.length, "model") %>' in the '<%= group_link(person_group) %>' group</b></li>
    <% else %>
        <li>Only show the <%= pluralize(person_group.nodes.length, "model") %> in the '<%= link_to person_group.name, :controller => :browse, :action => :list_models_group, :id => person_group.id %>' group</li>
    <% end %>
    <% end %>
</ul>

<% if @models.empty? %>
<p>Sorry, no models to show in this group.</p>
<% else %>
<%= will_paginate @models %>
<%= render :partial => "model_list", :object => @models %>
<%= will_paginate @models %>
<% end %>

<p><%= link_to "See a complete list of models", :controller => "browse", :action => "list_models" %></p>

