<% @title = @model.name %>

<p>By:
  <% @model.people.each_with_index do |p, index| %>
  <% if index == 0 %>
  <%= person_link(p) -%>
  <% else %>
  ,<%= person_link(p) -%>
  <% end %>
  <% end %>
<p>

  <div id="preview-image-div">
    <%= render :partial => "preview_image", :locals => {:model => @model} -%>
  </div>

  <div id="model-atom-feed"><%= link_to image_tag("feed.png", :id => 'atom-image'), :controller => :browse, :action => :follow, :id => @model.id, :format => :atom %><%= link_to "Follow '#{@model.name}' in your reader", :controller => :browse, :action => :follow, :id => @model.id, :format => :atom -%></div>

  <% if @person %>
<p>

<% if @model.people.member?(@person) %>
<%= link_to "Rename this model", :controller => :browse, :action => :rename_model, :id => @model.id %> &bull;
<% end %>

<%= link_to "Tell a friend", :controller => :recommend, :action => :email_friend, :id => @model.id %> &bull;

  <% if @model.recommendations.select {|r| r.person_id == @person.id}.empty? %>
  <%= link_to "Recommend this model", :controller => :recommend, :action => :add_recommendation, :id => @model.id %>
  <% end %>

  <% if !@model.recommendations.empty? %>
  (<%= link_to pluralize(@model.recommendations.length, "recommendation"), :controller => :recommend, :action => :show_recommendations, :id => @model.id -%> to date)
  <% end %>

  &bull;

  <% if !@model.spam_warnings.empty? %>
  <%= pluralize(@model.spam_warnings.length, "person") %> marked it as spam
  <% end %>

  <% if !@person.spam_warning(@model) %>
  <%= link_to "Report this model as spam", :controller => :possible_spam, :action => :mark_as_spam, :id => @model.id %>
  <% end %>

  <% end %>
</p>

<div id="model-tabs">
  <ul>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_preview_tab, :id => @model.id, :tab => 'true' -%>" title="preview"><span>Preview</span></a></li>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_applet_tab, :id => @model.id , :tab => 'true' -%>" title="run"><span>Run</span></a></li>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_info_tab, :id => @model.id , :tab => 'true' -%>" title="info"><span>Info</span></a></li>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_procedures_tab, :id => @model.id , :tab => 'true' -%>" title="procedures"><span>Procedures</span></a></li>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_download_tab, :id => @model.id , :tab => 'true' -%>" title="download"><span>Download</span></a></li>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_discuss_tab, :id => @model.id , :tab => 'true' -%>" title="discuss"><span>Discuss</span></a></li>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_history_tab, :id => @model.id , :tab => 'true' -%>" title="history"><span>History</span></a></li>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_tags_tab, :id => @model.id , :tab => 'true' -%>" title="tags"><span>Tags</span></a></li>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_files_tab, :id => @model.id , :tab => 'true' -%>" title="files"><span>Files</span></a></li>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_related_tab, :id => @model.id , :tab => 'true' -%>" title="related"><span>Related</span></a></li>

    <% if @person %>
    <li><a href="<%= url_for :controller => :browse, :action => :browse_upload_tab, :id => @model.id, :tab => 'true' -%>" title="upload"><span>Upload</span></a></li>

    <% if @model.people.include?(@person) %>
        <li><a href="<%= url_for :controller => :browse, :action => :browse_permissions_tab, :id => @model.id, :tab => 'true' -%>" title="permissions"><span>Permissions</span></a></li>
    <% end %>
    <% end %>
  </ul>
</div>
