<% @title = @model.name %>

<div id="preview-image-div"> <img id="preview-image" align="right" src="<%= url_for :controller => "browse", :action => "display_preview", :id => @model.id %>"></div>

<div id="navigation_tabs">
  <ul class="subsection_tabs">
    <li class="tab"><a id="model-tab" href="#model-div">Model</a></li>
    <li class="tab"><a id="download-tab" href="#download-div">Download</a></li>
    <li class="tab"><a id="upload-tab" href="#upload-div">Upload</a></li>
    <li class="tab"><a id="permissions-tab" href="#permissions-div">Permissions</a></li>
    <li class="tab"><a id="group-tab" href="#group-div">Groups</a></li>
    <li class="tab"><a id="history-tab" href="#history-div">History</a></li>
    <li class="tab"><a id="discuss-tab" href="#discuss-div">Discuss</a></li>
    <li class="tab"><a id="tags-tab" href="#tags-div">Tags</a></li>
  </ul>
</div>
<%= render :partial => "model_tab", :locals => {:model => @model} -%>

<div id="download-div" class="main-div" style="display:none;">
  <h2>Download the latest version</h2>
  <%= link_to "Download model (as a zip file)", :controller => "browse", :action => "download_model", :id => @model.id -%>
</div>

<div id="upload-div" class="main-div" style="display:none;">
  <%= render :partial => "upload_form", :locals => {:node => @model} -%>
</div>

<div id="discuss-div" class="main-div" style="display:none;">
  <%= render :partial => "discussion", :locals => {:node => @model} -%>
</div>

<div id="permissions-div" class="main-div" style="display:none;">
  <%= render :partial => "permissions", :locals => {:model => @model} -%>
</div>

  <%= render :partial => "groups", :locals => {:model => @model} -%>

<div id="history-div" class="main-div" style="display:none;">
  <%= render :partial => "history", :locals => {:node => @model} -%>
</div>

<div id="tags-div" class="main-div" style="display:none;">
  <h2>Tags</h2>

  <% if @model.tagged_nodes.empty? -%>
  <p><i>No tags</i></p>
  <% else -%>
  <p>Existing tags:</p>
  <ul>
    <% @model.tagged_nodes.sort_by {|t| t.updated_at}.each do |tm| -%>
    <li><%= link_to tm.tag.name, :controller => "tags", :action => "one_tag", :id => tm.tag_id -%> (<%= tm.comment -%>), by <%= tm.person.fullname -%> <%= distance_of_time_in_words(Time.now, tm.updated_at) -%> ago </li>
    <% end -%>
  </ul>
  <% end -%>

  <div id="add-tags">
    <% form_tag :controller => "tags", :action => :new do |form| -%>
    <%= hidden_field_tag :node_id, @model.id -%>
    <div id="tags">
      <%= render :partial => "add_tag", :locals => {:form => form} -%>
    </div>
    <p><%= add_tag_link "More tag fields" -%></p>
    <p><%= submit_tag "Submit tags" -%></p>
    <% end -%>
  </div>
</div>
