<% @title = @model.name %>

<div id="preview-image-div">
  <%= render :partial => "preview_image", :locals => {:model => @model} -%>
</div>

<script type="text/javascript">
  // initialise plugins
  jQuery(function(){

  // Start Superfish menu
  jQuery('ul.sf-menu').superfish({ pathClass: 'current' });

  // Function to handle clicks
  handle_menu_click = function() {
  console.log($(this).parent());

  if (this.hash == '')
  {
  return false;
  }

  $('.one-model-div').hide();     // Hide all of the divs
  $('a').removeClass('current');  // Remove "current" class

  $(this).addClass('current');
  $(this.hash).show(); // Show the one for what was clicked on
  return false;
  }

  $('ul.sf-menu li a').click(handle_menu_click);
  $('ul.sf-menu li ul li a').click(handle_menu_click);
  });
</script>

<p><%= link_to "E-mail a friend about this model", :controller => :recommend, :action => :email_friend %> &bull;

<% if @recommendations.select {|r| r.person_id == @person.id}.empty? %>
<%= link_to "Recommend this model", :controller => :recommend, :action => :add_recommendation, :id => @model.id %>
<% end %>

<% if !@recommendations.empty? %>
(<%= link_to pluralize(@recommendations.length, "recommendation"), :controller => :recommend, :action => :show_recommendations, :id => @model.id -%> to date)
<% end %>
</p>

<div id="menu-div">
  <ul class="sf-menu sf-navbar">
    <li>
      <a href="">Model</a>
      <ul>
        <li><a id="info-menu" href="#info-div">Info</a></li>
        <li><a id="related-menu" href="#related-div">Related</a></li>
        <li><a id="files-menu" href="#files-div">Files</a></li>
        <li><a id="procedures-menu" href="#procedures-div">Procedures</a></li>
        <li><a id="gui-menu" href="#gui-div">GUI</a></li>
        <li><a id="applet-menu" href="#applet-div">Applet</a></li>
      </ul>
    </li>

    <li><a id="download-menu" href="#download-div">Download</a></li>
    <li><a id="upload-menu" href="#upload-div">Upload</a></li>
    <li><a href="#permissions-div">Permissions</a></li>
    <li><a href="#history-div">History</a></li>
    <li><a href="#discuss-div">Discuss</a></li>
    <li><a href="#tags-div">Tags</a></li>

  </ul>
</div>

<!-- Model menu -->
<div id="info-div" class="one-model-div">
  <%= render :partial => "info_div", :locals => {:model => @model} -%>
</div>

<div id="related-div" class="one-model-div">
  <% if @model.parent.nil? -%>
  <p>No parent node</p>
  <% else -%>
  <p><b>Parent:</b> <%= link_to @model.parent.name, :controller => 'browse', :action => 'one_model', :id => @model.parent.id  -%></p>
  <% end -%>

  <% if @model.models.empty? -%>
  <p>No child nodes</p>
  <% else -%>
  <h3>Children:</h3>
  <ul>
    <% @model.models.each do |child| -%>
    <li><%= link_to child.name, :controller => 'browse', :action => 'one_model', :id => child.id  -%></li>
    <% end -%>
  </ul>
  <% end -%>

</div>

<div id="files-div" class="one-model-div">
  <% if @model.files.empty? -%>
  <p>No files</p>
  <% else -%>
  <ul>
    <% @model.files.sort_by {|f| f.name}.each do |f| -%>
    <li><%= link_to f.filename, :controller => :browse, :action => :one_node, :id => f.id -%> (<%= f.node_type.short_name -%>)</li>
    <% end -%>
  </ul>
  <% end -%>

</div>

<div id="procedures-div" class="one-model-div">
  <p><%= @model.procedures_tab(with_html=true) -%></p>
</div>

<div id="gui-div" class="one-model-div">
  <p><%= @model.gui_tab(with_html=true) -%></p>
</div>

<div id="applet-div" class="one-model-div">
<applet
   code="org.nlogo.window.Applet"
   align="baseline"
   width="<%= @model.dimensions[:width] -%>" height="<%= @model.dimensions[:height] -%>"
   archive="/NetLogoLite.jar">
  <param name="DefaultModel" value="<%= url_for :controller => :browse, :action => :model_contents, :id => @model.id %> ">
</applet>
</div>

<!-- Download menu -->
<div id="download-div" class="one-model-div">
  <h2>Download the latest version</h2>
  <%= link_to "Download model (as a zip file)", :controller => "browse", :action => "download_model", :id => @model.id -%>
</div>

<!-- Upload menu -->
<div id="upload-div" class="one-model-div">
  <%= render :partial => "upload_form", :locals => {:node => @model} -%>
</div>

<!-- Permissions menu -->
<div id="permissions-div" class="one-model-div">
  <%= render :partial => "permissions", :locals => {:model => @model} -%>
</div>

<!-- History menu -->
<div id="history-div" class="one-model-div">
  <%= render :partial => "history", :locals => {:node => @model} -%>
</div>

<!-- Discuss menu -->
<div id="discuss-div" class="one-model-div">
  <%= render :partial => "discussion", :locals => {:node => @model} -%>
</div>

<%= render :partial => "model_tab", :locals => {:model => @model} -%>

<!-- Tags menu -->
<div id="tags-div" class="one-model-div">
  <%= render :partial => "tags", :locals => {:node => @model} -%>
</div>
