<% @title = @model.name %>
<% @meta_description = "View, run, and discuss the '#{@model.name}' model, written in NetLogo." %>
<div class="model_info">
  <div class="model_info_top">
    <% if @model.previews.nil? or @model.previews.empty? %>
    <div class="no_preview_image">No preview image</div>
    <% else %>
    <%= model_image(@model)%>
    <% end %>
    <div class="info_social_container">
      <div class="seeking-collaborators">
	<% if @person and @model.author?(@person) %>
	<input id="wants_help" name="wants_help" type="checkbox" 
               <%= @model.wants_help? ? 'checked' : '' %> />
	<label for="wants_help">This model is seeking new collaborators!</label>
	<% elsif @model.wants_help? %>
	<p>This model is seeking new collaborators!</p>
	<% end %>
      </div>
      <div class="info_container">
        <div class="collaborators">
          <h3>
            <span id="collaborator_count"><%= pluralize(@model.all_collaborations.size, 'collaborator') %></span>
            <% if @model.people.include?(@person) %>
            <span class="smaller" id="add-collaborator"><a href="#">Add a collaborator</a></span>
            <% end %>
          </h3>
          
          <%= render :partial => "/collaborations/collaborator_list" %>
          


          <%= form_for(:add_collaborator, :url => {:controller => :collaborations, :action => :create}, :html => {:class => 'popup_form'}) do |form| -%>
          <div class="left-right"><div class="left"><h1>Add Collaborator</h1></div><div class="right"><h2><a href="#" class="close_form">Close</a></h2></div></div>
          <input type="hidden" name="node_id" value="<%= @model.id %>" />
          <p>
            <input type="text" class="complete" placeholder="Collaborator name" name="person_name" size="45" />
            <select name="collaborator_type_id">
              <% CollaboratorType.all.each do |type| %>
              <option value="<%= type.id %>"><%= type.name %></option>
              <% end %>
            </select>
            <input type="email" placeholder="Collaborator e-mail (if not a member) " name="person_email" size="45" />
          </p>              
          <p>
            <button id="save_collaborators">Save new collaborator</button>
          </p>
          <% end -%>
        </div>
        
        <div class="tag_cloud_container">
          <h3>Tags
            <% if @person %>
            <span class="smaller">Take a few moments to <a href="#" id="open_add_tag_form">tag this model</a>!</span>
            <% end %>
          </h3>
          <%= render :partial => "tags/tag_cloud", :locals => {:model => @model} %>
          <%= form_for(:new_tag, :url => {:controller => :tags, :action => :create}, :html => {:class => 'add_tag_form popup_form'}) do |form| -%>
          <div class="left-right"><div class="left"><h1>Add New Tag</h1></div><div class="right"><h2><a href="#" id="close_add_tag_form">Close</a></h2></div></div>
          <%= hidden_field_tag :node_id, @model.id -%>
          <p><%= text_field_tag 'new_tag[]', "", {:class => 'complete', :placeholder => "Tag name", :size => 45} %></p>
          <p><%= text_field_tag 'new_comment[]', "", {:placeholder => "(Optional) Why tag is relevant to this model", :size => 45} %></p>
          <p><button id="add_tag">Tag this model</button></p>
          <% end -%>
        </div>
        
        <div class="family_info">
          <% if !@model.projects.empty? %>
          Part of project '<%= project_link(@model.projects.first) %>'
          <% end %>
          
          <% if @model.parent %>
          Child of model <%= model_link(@model.parent) %>
          <% end %>
          
          <% if not @model.children.empty? %>
          Parent of <%= pluralize(@model.children.size, 'model') %>: <%= raw @model.children.map {|child| model_link(child) }.to_sentence %>
          <% end %>
        </div>
        
        <%= form_tag(url_for( :controller => :browse, :action => :set_permissions), :id => "group_permission_form") do %>
        <%= hidden_field_tag 'id', @model.id %>
        <% model_visibility_letter = @model.visibility.short_form %>
        <% model_changeability_letter = @model.changeability.short_form %>
        <% model_group_id = @model.group ? @model.group.id : 0 %>
        <% if @model.people.include?(@person) %>
        <% if @person and !@person.groups.empty? %>
        <% @options_for_select = [['No group', nil]] %>
        <% @person.groups.each {|g| @options_for_select << [g.name, g.id] } %>                
							   Model group <%= raw select_tag("group_id", options_for_select(@options_for_select, (@model.group ? @model.group.id : 0)), :id => "group_select") %>
           | 
           <% end %>
           Visible to 
           <select name="read_permission" id="read_permission_select">
             <option value="a" <% if model_visibility_letter ==  'a'%>selected="selected"<% end %>>everyone</option>
             <% if @person and !@person.groups.empty? %>
             <option value="g" <% if model_visibility_letter ==  'g'%>selected="selected"<% end %>>group members only</option>
             <% end %>
             <option value="u" <% if model_visibility_letter ==  'u'%>selected="selected"<% end %>>you only</option>
           </select>
           | Changeable by
           <select name="write_permission" id="write_permission_select">
             <option value="a" <% if model_changeability_letter ==  'a'%>selected="selected"<% end %>>everyone</option>
             <% if @person and !@person.groups.empty? %>
             <option value="g" <% if model_changeability_letter ==  'g'%>selected="selected"<% end %>>group members only</option>
             <% end %>
             <option value="u" <% if model_changeability_letter ==  'u'%>selected="selected"<% end %>>you only</option>
           </select>
           <% else %>
           <%if model_group_id != 0 %>
           <%= raw model_group(@model) %> | 
           <% end %>
           <%= raw model_visibility(@model) %> | <%= raw model_changeability(@model) %>
           <% end %>
           <% end %>
           
      </div>
      
      <div class="social_container">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_floating_style addthis_32x32_style">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_compact"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5167809d4418e244"></script>
        <!-- AddThis Button END -->
        
      </div>
    </div>
  </div>
  <div class="model_info_bottom">
    <div class="netlogo_version">
      Model was written in NetLogo <%= @model.netlogo_version %> 
      &bull; 
      Viewed <%= pluralize(@model.views, "time") %>
      &bull; 
      Downloaded <%= pluralize(@model.downloads, "time") %>
      &bull; 
      Run <%= pluralize(@model.runs, "time") %>
    </div>
    
    <div class="actions">
      <%= link_to image_tag("download.png", :class => "inline_image", :alt => "Download the '#{@model.name}' model", :title => "Download the '#{@model.name}' model") + "Download this model", :controller => "browse", :action => "download_model", :id => @model.id %> 
	<% if @person %>
        | 
        <%= render :partial => 'recommend/recommendations', :locals => {:id => @model.id} %>
	
        <% if !@person.spam_warning(@model) %>
        | 
        <%= link_to "Report as spam", :controller => :possible_spam, :action => :mark_as_spam, :id => @model.id %>
        <% if !@model.spam_warnings.empty? %>
        (<%= pluralize(@model.spam_warnings.length, "person") %> marked it as spam)
        <% end %>
        <% end %>
	<% end %>
	<% if @person and @model.people.include?(@person) %>
        | 
        <%= link_to 'Delete this model', { :controller => :upload, :action => :destroy, :id => @model.id }, :confirm => "Delete this model, including its entire history, attachments, and comments?  There is no way to undo this action.\n\nDon't delete a model just because you have a newer version; instead, use the 'upload' tab to put a newer version online." %>
	<% end %>
      </div>
    </div>
    
  </div>

  <div id="model_tabs" class="tabs_panel">
    <ul>
      <li><a href="#browse_discuss">Discuss</a></li>
      <li><a href="#browse_applet">Run</a></li>
      <li><a href="#browse_info">Info</a></li>
      <li><a href="#browse_procedures">Code</a></li>
      <li><a href="#browse_history">History</a></li>
      <li><a href="#browse_files">Files</a></li>
      <li><a href="#browse_family">Family</a></li>
      <% if @person %>
      <li><a href="#browse_upload_tab">Upload</a></li>
      <% end %>
    </ul>
    <div id="browse_discuss">
      <%= render :partial => "/browse/browse_discuss_tab" %>
    </div>
    <div id="browse_applet">
      <%= render :partial => "/browse/browse_applet_tab" %>
    </div>
    <div id="browse_info">
      <%= render :partial => "/browse/browse_info_tab" %>
    </div>
    <div id="browse_procedures">
      <%= render :partial => "/browse/browse_procedures_tab" %>
    </div>
    <div id="browse_history">
      <%= render :partial => "/browse/browse_history_tab" %>
    </div>
    <div id="browse_files">
      <%= render :partial => "/browse/browse_files_tab" %>
    </div>
    <div id="browse_family">
      <%= render :partial => "/browse/browse_family_tab" %>
    </div>
    <% if @person %>
    <div id="browse_upload_tab">
      <%= render :partial => "/browse/browse_upload_tab" %>
    </div>
    <% end %>
  </div>
