<div id="rec_container">
  <div id="rec_counter_container">
    <div id="rec_counter"><%= @model.recommendations.length %></div><%= pluralize_without_number(@model.recommendations.length, 'recommendation') %><% if !@model.recommendations.select {|r| r.person_id == @person.id}.empty? %>, including <%= person_link(@person) %><% end %>
    <div id="recommendations">
      <ul>
        <% if @model.id and !@recommendations %>
          <% @recommendations = Recommendation.find_all_by_node_id(id, :order => "created_at DESC") || []%>
        <% end %>
        <% @recommendations.each do |recommendation| %>
          <li>
            <%= link_to person_image(recommendation.person) + recommendation.person.fullname, person_url(recommendation.person) %> recommended it <%= distance_of_time_in_words(Time.now, recommendation.created_at) -%> ago
          </li>
        <% end %>
      </ul>
    </div>
  </div>
    
  
  <% if @person and @model.recommendations.select {|r| r.person_id == @person.id}.empty? %>
    <span id="add_recommendation_container">
     | 
    <%= link_to image_tag("thumb.jpeg", :class => "inline_image", :alt => "Recommend '#{@model.name}' to other users", :title => "Recommend '#{@model.name}' to other users") + "Recommend model", {:controller => :recommend, :action => :add_recommendation_new, :id => @model.id}, :id => :add_recommendation %>
    </span>
  <% end %>
</div>