<% @tryword = %w(autumn disease camouflage market termites segregation lightning flock traffic).sample %>

<div class="news">
  <div class="news_list">
    <div class="news_heading">
      Explore The Modeling Commons
    </div>
    <div class="news_empty">
      <ul>
        <li><%= render :partial => "search/search_form" -%> <i>Suggestion: Search for '<%= @tryword %>'</i></li>
        <li><p><%= link_to "List all 1,000+ models", :controller => :browse, :action => :list_models -%></p></li>
        <li><p><%= link_to "List recently changed models", :controller => :browse, :action => :list_recent_models -%></p></li>
        <li><p><%= link_to "Jump to a random model", :controller => :browse, :action => :view_random_model -%></p></li>
        <li><p><%= link_to "View projects (model collections)", :controller => :projects -%></p></li>
        <li><p><%= link_to "Help!", :controller => :help -%></p></li>
        
        
      </ul>
    </div>
  </div>
</div>
