<%= form_for :new_person, :url => { :action => :create }, :html => {:id => 'new-person-form'} do |form| %>
<table id="new-person-form">

  <tr>
    <td><label for="new_person_first_name">First name</label></td>
    <td><%= form.text_field :first_name, :size => 30 %></td>
  </tr>
  <tr>
    <td><label for="new_person_last_name">Last name</label></td>
    <td><%= form.text_field :last_name, :size => 30 %></td>
  </tr>
  <tr>
    <td><label for="new_person_email_address">E-mail address</label></td>
    <td><%= form.email_field :email_address, :size => 30 %></td>
  </tr>
  <tr>
    <td>Show your e-mail address to other registered users?</td>
    <td><%= form.radio_button :show_email_address, 'true' -%><label for="new_person_show_email_address_true">Yes, let them see it</label> <br />
        <%= form.radio_button :show_email_address, 'false' -%><label for="new_person_show_email_address_false">No, keep
        it private</label></td>
  </tr>
  <tr>
    <td><label for="new_person_url">URL of your home page (optional)</label></td>
    <td><%= form.url_field :url, :size => 50 %></td>
  </tr>
  <tr>
    <td><label for="new_person_biography">Tell us about yourself (optional)</label></td>
    <td><%= form.text_area :biography, :rows => 5, :cols => 80 %></td>
  </tr>
  <%= form.hidden_field :sex, value: '?' %>
  <tr>
    <td>Country</td>
    <td>
    	<% 
    	blank = '--------'
    	priority_countries = ['United States']
    	@countries.unshift(blank)
    	index = 0
    	priority_countries.each{ |e| @countries.insert(index, @countries.delete(e) ) ; index+=1 }
    	%>
    	<%= form.select :country_name, options_for_select(@countries, {:disabled => blank}) %>
    </td>
  </tr>
  <tr>
    <td>Birthdate (optional)</td>
    <td><%= form.date_select :birthdate, :start_year => 1930, :end_year => 2005, :include_blank => true %></td>
  </tr>

  <tr>
    <td><label for="new_person_password">Password</label></td>
    <td><%= form.password_field :password, :size => 30, :value => '' %></td>
  </tr>
  <tr>
    <td><label for="new_person_password_confirmation">Password confirmation</label></td>
    <td><%= form.password_field :password_confirmation, :size => 30, :value => '' %></td>
  </tr>

  <tr>
    <td>Your picture (optional)</td>
    <td><%= form.file_field :avatar, :size => 15 %></td>
  </tr>

</table>

<br />

<%= render :partial => 'user_agreement' -%>

<h2><%= form.check_box :registration_consent -%><label for="new_person_registration_consent">I understand and agree to the above.</label></h2>

<p><%= submit_tag "Register", :class => "submit" %></p>

<% end %>

<script>
  $("#new-person-form").validate({
  rules: {
      'new_person[first_name]': 'required',
      'new_person[last_name]': 'required',
      'new_person[email_address]': {
	  required: true,
	  email: true },
      'new_person[sex]': 'required',
      'new_person[country_name]': 'required',
      'new_person[password]': 'required',
      'new_person[password_confirmation]': {
	required: true,
	equalTo: '#new_person_password'
      }
   } } );
</script>

