<% form_for :new_person, :url => { :action => :create }, :html => {:multipart => true, :id => 'new-person-form'} do |form| %>
<table id="new-person-form">

  <tr>
    <td><label for="new_person_first_name">First name</label></td>
    <td><%= form.text_field :first_name, :size => 30 %></td>
  </tr>
  <tr>
    <td><label for="new_person_last_name">Last name</label></td>
    <td><%= form.text_field :last_name, :size => 30 %></td>
  </tr>
  <tr>
    <td><label for="new_person_email_address">E-mail address</label></td>
    <td><%= form.text_field :email_address, :size => 30 %></td>
  </tr>
  <tr>
    <td>Sex</td>
    <td><%= form.radio_button :sex, 'f' -%><label for="new_person_sex_f">Female</label> <br />
        <%= form.radio_button :sex, 'm' -%><label for="new_person_sex_m">Male</label></td>
  </tr>
  <tr>
    <td>Country</td>
    <td><%= form.select :country_name, country_options_for_select(nil, ['United States', 'Israel']) %></td>
  </tr>
  <tr>
    <td>Birthdate</td>
    <td><%= form.date_select :birthdate, :start_year => 1930, :end_year => 2005 %></td>
  </tr>

  <tr>
    <td><label for="new_person_password">Password</label></td>
    <td><%= form.password_field :password, :size => 30, :value => '' %></td>
  </tr>
  <tr>
    <td><label for="new_person_password_confirmation">Password confirmation</label></td>
    <td><%= form.password_field :password_confirmation, :size => 30, :value => '' %></td>
  </tr>

  <tr>
    <td>Your picture (optional)</td>
    <td><%= form.file_field :avatar, :size => 15 %></td>
  </tr>

</table>

<p>You are registering for the Modeling Commons, a research project
  from the Center for Connected Learning and Computer-Based Modeling at
  Northwestern University, Evanston IL, USA.</p>

<p>The purpose of the Modeling Commons is to better understand
  modeling practices in individuals and groups, online collaborative
  learning communities, and the ways in which people learn in groups.
  We are also interested in learning what design features facilitate
  collaborative modeling practices. The Modeling Commons itself is thus
  a research project under active development.</p>

<p>There is no expected end date for this research project. Indeed, if
  successful, we would hope the Modeling Commons continues as a
  self-sustaining community. If and when we decide to terminate it, we
  will make every effort to inform users and provide them with an
  alternative.</p>

<p>There are no risks to you associated with participating in this
  research study.  Your participation is completely voluntary.  You can
  stop participation at any time.</p>

<p>You will benefit from this research by enjoying a community of
  like-minded modelers, being able to easily post and share your models
  with others and collaborate with others on model development, keep
  track of revision history of your models, as well as discuss and tag
  models that you and others have written. </p>

<p>Instead of participating in this study, you could write your
  NetLogo models on your own computer, and post them to your own Web
  site. However, we hope and expect that the collaborative experience we
  provide will encourage you to use the Modeling Commons.</p>

<p>Public records of your activity in the Modeling Commons may be
  identified by name. Records that are private to a group, or to your
  individual account, will be anonymized and/or displayed only in the
  aggregate. We will never identify you or your work in public if you
  have not already done so yourself.</p>

<p>If you have any questions about the Modeling Commons, you can
  contact Northwestern University graduate student, Reuven Lerner, at
  <%= mail_to "reuven@lerner.co.il" -%>.</p>

<p><%= form.check_box :registration_consent -%><label for="new_person_registration_consent">I understand and agree to the above.</label></p>

<p><%= submit_tag "Register", :class => "submit" %></p>

<% end %>

<script>
  $("#new-person-form").validate({
  rules: {
      'new_person[first_name]': 'required',
      'new_person[last_name]': 'required',
      'new_person[email_address]': {
	  required: true,
	  email: true },
      'new_person[sex]': 'required',
      'new_person[country_name]': 'required',
      'new_person[birthdate(1i)]': 'required',
      'new_person[birthdate(2i)]': 'required',
      'new_person[birthdate(3i)]': 'required',

      'new_person[password]': 'required',
      'new_person[password_confirmation]': {
	required: true,
	equalTo: '#new_person_password'
      },
      'new_person[registration_consent]': 'required'
   } } );
</script>

