<% start_time = Time.now %>
<div class="news">
  <div class="news_list">
    <div class="news_heading">
      Requests for help<span class="sub_heading"> (in the past 2 weeks)</span>
    </div>
    <% if @recent_questions.empty? %>
      <div class="news_empty">
        No recent requests for help
      </div>
    <% else %>
      <% @recent_questions.each do |question| %>
        <% question_info = whats_new_comment(question) %>
        <div class="news_post<% if question_info[:your_news] %> your_news<% end %>">
          <div class="news_image">
            <a href="<%= question_info[:link] -%>">
              <img src="<%= question_info[:image] %>" />
            </a>
            <a href="<%= question_info[:link] -%>" class="image_overlay">
              <img src="<%= question_info[:person_image] -%>">
            </a>
          </div>
          <div class="news_content">
            <div class="news_above">
              <%= raw question_info[:action] %>
            </div>
            <div class="news_item">
              <a href="<%= raw question_info[:link] -%>"><%= question_info[:name] %></a>
            </div>
            <div class="news_below">
               <%= question_info[:time] %>
            </div>
          </div> 
        </div>
      <% end %>
    <% end %>    
  </div>
</div>
<!-- Time spent in news-box help <%= Time.now - start_time-%> -->
