<% start_time = Time.now %>
<% whos =  if @person == @the_person then 'your' else @the_person.first_name + '\'s' end %>
<div class="news">
  <div class="news_list">
    <div class="news_heading">
    <%= whos.capitalize %> Models Activity<span class="sub_heading"> (in the past 2 weeks)</span>
    </div>
    <% if @model_events.empty? %>
      <div class="news_empty">
        No recent model activity in <%= whos %> models
      </div>
    <% else %>
      <% @model_events.each do |model| %>
        <% model_info = whats_new_model(model) %>
        <div class="news_post<% if model_info[:your_news] %> your_news<% end %>">
          <div class="news_image">
            <a href="<%= model_info[:link] -%>">
              <% if !model_info[:image].nil? %>
                <img src="<%= model_info[:image] %>" />
              <% end %>
            </a>
          </div>
          <div class="news_content">
            <div class="news_above">
              <%= model_info[:action] %>
            </div>
            <div class="news_item">
              <a href="<%= model_info[:link] -%>"><%= model_info[:name] -%></a>
            </div>
            <div class="news_below">
               <%= model_info[:time] %>
            </div>
          </div> 
        </div>
      <% end %>
      <div class="news_more">
        <a href="<%= url_for(:controller => :account, :action => :models, :id => @the_person.id) -%>">
          View all of <%= whos %> models
        </a>
      </div>
    <% end %>    
  </div>
</div>
<!-- Time spent in news-box models <%= Time.now - start_time-%> -->
