<% @title = "Edit your profile" %>

<table>

<% form_for :person, :url => { :action => :update }, :html => {:multipart => true} do |form| %>
<tr>
    <td>First name</td>
    <td><%= form.text_field :first_name, :size => 30, :value => @person.first_name %></td>
</tr>
<tr>
    <td>Last name</td>
    <td><%= form.text_field :last_name, :size => 30, :value => @person.last_name %></td>
</tr>
<tr>
    <td>E-mail address</td>
    <td><%= form.text_field :email_address, :size => 30, :value => @person.email_address %></td>
</tr>
<tr>
    <td>Password</td>
    <td><%= form.password_field :password, :size => 30, :value => @person.password %></td>
</tr>
<tr>
    <td>Password confirmation</td>
    <td><%= form.password_field :password_confirmation, :size => 30, :value => @person.password_confirmation %></td>
</tr>

<tr>
    <td>Optional image</td>
    <td><%= form.file_field :avatar %><%= image_tag @person.avatar.url(:thumb) %> </td>
</tr>

<tr>
    <td colspan="2"><%= submit_tag "Update account", :class => "submit" %></td>
</tr>

<% end %>

</table>
