<% @title = "Edit your profile" %>

<% form_for :person, :url => { :action => :update }, :html => {:multipart => true} do |form| %>
<table>

  <tr>
    <td><label for="person_first_name">First name</label></td>
    <td><%= form.text_field :first_name, :size => 30, :value => @person.first_name %></td>
  </tr>
  <tr>
    <td><label for="person_last_name">Last name</label></td>
    <td><%= form.text_field :last_name, :size => 30, :value => @person.last_name %></td>
  </tr>
  <tr>
    <td><label for="person_email_address">E-mail address</label></td>
    <td><%= form.text_field :email_address, :size => 30, :value => @person.email_address %></td>
  </tr>
  <tr>
    <td><label for="person_password">Password</label></td>
    <td><%= form.password_field :password, :size => 30, :value => '' %></td>
  </tr>
  <tr>
    <td><label for="person_password_confirmation">Password confirmation</label></td>
    <td><%= form.password_field :password_confirmation, :size => 30, :value => '' %></td>
  </tr>

  <tr>
    <td>Optional image</td>
    <td><%= form.file_field :avatar %><%= person_image(@person) %> </td>
  </tr>

  <tr>
    <td colspan="2"><%= submit_tag "Update account", :class => "submit" %></td>
  </tr>

</table>
<% end %>
