<% @title = 'Groups' %>

<div id="model-tabs">
     <ul>
         <li><a href="<%= url_for :controller => :account, :action => :mygroups -%>"><span>Your groups</span></a></li>
         <li><a href="<%= url_for :controller => :membership, :action => :new_group -%>"><span>Create</span></a></li>
         <li><a href="<%= url_for :controller => :membership, :action => :find_group -%>"><span>Find</span></a></li>
         <li><a href="<%= url_for :controller => :membership, :action => :manage_groups -%>"><span>Manage</span></a></li>
         <li><a href="<%= url_for :controller => :membership, :action => :invite -%>"><span>Invite</span></a></li>
     </ul>
</div>

