<% @title = "Welcome to the Modeling Commons!" %>

<div id="left-news-box">
  <%= render :partial => "just_visiting", :locals => {} -%>

  <%= render :partial => "register", :locals => {} -%>
  
  <%= render :partial => "recent_model_activity", :locals => {} -%>
</div>

<div id="right-news-box">
  <%= render :partial => "recent_most_viewed", :locals => {} -%>
  
  <%= render :partial => "all_time_most_viewed", :locals => {} -%>
  
  <%= render :partial => "recent_most_recommended", :locals => {} -%>

  <%= render :partial => "recent_most_downloaded", :locals => {} -%>

  <%= render :partial => "recent_most_popular_tags", :locals => {} -%>
  

</div>

