<% @title = "Log into the Modeling Commons" %>

<table>

<% form_tag :action => :login_action do %>
<tr>
    <td>E-mail address</td>
    <td><%= text_field_tag :email_address %></td>
</tr>
<tr>
    <td>Password</td>
    <td><%= password_field_tag :password %></td>
</tr>

<tr>
    <td colspan="2"><%= submit_tag "Login", :class => "submit" %></td>
</tr>

<% end %>

</table>

<p>New user?  You must first <%= link_to "register", :controller => :account, :action => :new -%>.</p>
<p>Don't remember your password?  We can <%= link_to "e-mail it to you", :controller => :account, :action => :send_password -%>.</p>
