<% if @person == @the_person %>
<% @title = "Your personal page" %>
<% else %>
<% @title = "Page for #{@the_person.fullname}" %>
<% @headline_avatar = @the_person.avatar.url(:thumb) %>
<% if @person and @person.administrator? -%>
(<%= mail_to @the_person.email_address -%>)
<% end -%>
<% end %>

<% if @person != @the_person %>
<div id="person-atom-feed"><%= link_to image_tag("feed.png"), :controller => :account, :action => :follow, :id => @the_person.id, :format => :atom %> <%= link_to "Follow #{@the_person.first_name}'s activity in your feed reader", :controller => :account, :action => :follow, :id => @the_person.id, :format => :atom %></div>
<% end %>

<% if @the_person.nodes.present? %>
<p><%= link_to "Download all of #{@the_person.first_name}'s models", :controller => :account, :action => :download, :id => @the_person.id %></p>
<% end %>

<div id="left-news-box">
  
  <% start_time = Time.now %>
  <div class="news">
  	<div class="news_list">
  	  <div class="news_heading">
  	     Models Activity
  	     <span class="sub_heading">
  	       (in the last 2 weeks)
  	     </span>
  	  </div>
  	  <% if @all_model_events.empty? %>
        <div class="news_empty">No recent model activity</div>
      <% else %>
        <% @all_model_events.each do |model| %>
          <% model_info = whats_new_model(model) %>
          <div class="news_post<% if model_info[:your_news] %> your_news<% end %>">
            <div class="news_image">
              <a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
                <% if !model.previews.nil? and !model.previews.empty? %>
                <img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
                <% end %>
              </a>
            </div>
            <div class="news_content">
              <div class="news_above">
                <%= model_info[:action] %>
              </div>
              <div class="news_item">
                <a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
              </div>
              <div class="news_below">
                 <%= model_info[:time] %>
              </div>
            </div> 
          </div>
        <% end %>
      <% end %>    
    </div>
  </div>
  <!-- Time spent in news-box all-models: <%= Time.now - start_time-%> -->

  
  <% start_time = Time.now %>
  <% whos =  if @person == @the_person then 'your' else @the_person.first_name + '\'s' end %>
  <div class="news">
    <div class="news_list">
      <div class="news_heading">
      <%= whos.capitalize %> Models Activity<span class="sub_heading"> (in the past 2 weeks)</span>
      </div>
      <% if @model_events.empty? %>
        <div class="news_empty">
          No recent model activity in <%= whos %> models
        </div>
      <% else %>
        <% @model_events.each do |model| %>
          <% model_info = whats_new_model(model) %>
          <div class="news_post<% if model_info[:your_news] %> your_news<% end %>">
            <div class="news_image">
              <a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
                <% if !model.previews.nil? and !model.previews.empty? %>
                <img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
                <% end %>
              </a>
            </div>
            <div class="news_content">
              <div class="news_above">
                <%= model_info[:action] %>
              </div>
              <div class="news_item">
                <a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
              </div>
              <div class="news_below">
                 <%= model_info[:time] %>
              </div>
            </div> 
          </div>
          <div class="news_more">
            <a href="<%= url_for(:controller => :account, :action => :models, :id => @the_person.id) -%>">
              View all of <%= whos %> models
            </a>
          </div>
        <% end %>
      <% end %>    
    </div>
  </div>
  <!-- Time spent in news-box models <%= Time.now - start_time-%> -->


  <% start_time = Time.now %>
  <% whos =  if @person == @the_person then 'your' else @the_person.first_name + '\'s' end %>
  <div class="news">
    <div class="news_list">
      <div class="news_heading">
      <%= whos.capitalize %> Tag Activity<span class="sub_heading"> (in the past 2 weeks)</span>
      </div>
      <% if @tag_events.empty? %>
        <div class="news_empty">
          No recent activity in <%= whos %> tags
        </div>
      <% else %>
        <% @tag_events.each do |tag_event| %>
          <% tag_event_info = whats_new_tag(tag_event) %>
          <div class="news_post<% if tag_event_info[:your_news] %> your_news<% end %>">
            <div class="news_image">
              <% if tag_event.is_a?(TaggedNode) %>
                <a href="<%= tag_event_info[:link] -%>">
                  <%= tag_event_info[:image] %>
                </a>
                <a href="<%= tag_event_info[:link] -%>" class="tag_overlay"></a>
              <% elsif tag_event.is_a?(Tag) %>
                <a href="<%= tag_event_info[:link] -%>" class="tag_image<% if tag_event_info[:your_news] %> your_news<% end %>">
                  <img src="images/tag_large.png" />
                </a>
              <% end %>
            </div>
            <div class="news_content">
              <div class="news_above">
                <%= tag_event_info[:action] %>
              </div>
              <div class="news_item">
                <a href="<%= tag_event_info[:link] -%>"><%= tag_event_info[:name] %></a>
              </div>
              <div class="news_below">
                 <%= tag_event_info[:time] %>
              </div>
            </div> 
          </div>
          
        <% end %>
        <% if @person == @the_person %>
          <div class="news_more">
            <a href="<%= url_for(:controller => :account, :action => :tags) -%>">
              View all of <%= whos %> tags
            </a>
          </div>
        <% end %>
      <% end %>    
    </div>
  </div>
  <!-- Time spent in news-box tags <%= Time.now - start_time-%> -->
  
  <% start_time = Time.now %>
  <div class="news">
    <div class="news_list">
      <div class="news_heading">
        Requests for help<span class="sub_heading"> (in the past 2 weeks)</span>
      </div>
      <% if @questions.empty? %>
        <div class="news_empty">
          No recent requests for help
        </div>
      <% else %>
        <% @questions.each do |question| %>
          <% question_info = whats_new_comment(question) %>
          <div class="news_post<% if question_info[:your_news] %> your_news<% end %>">
            <div class="news_image">
              <a href="<%= question_info[:link] -%>">
                <%= question_info[:image] %>
              </a>
            </div>
            <div class="news_content">
              <div class="news_above">
                <%= question_info[:action] %>
              </div>
              <div class="news_item">
                <a href="<%= question_info[:link] -%>"><%= question_info[:name] %></a>
              </div>
              <div class="news_below">
                 <%= question_info[:time] %>
              </div>
            </div> 
          </div>
        <% end %>
      <% end %>    
    </div>
  </div>
  <!-- Time spent in news-box help <%= Time.now - start_time-%> -->
  
</div>

<div id="right-news-box">
	
  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Viewed Models<span class="sub_heading"> (of all time)</span></div>
    
    	
    <% if @all_time_most_viewed.empty? %>
    <div class="news_empty">No statistics on all time most viewed models</div>
    <% else %>
      <% @all_time_most_viewed.each do |modelAndCount| %>
     <% 
     model = modelAndCount[0]
     count = modelAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == model.person.id %> your_news<% end %>">
      	<div class="news_image">
      		<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
				<% if !model.previews.nil? and !model.previews.empty? %>
				<img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
				<% end %>
			</a>
      	</div>
      	<div class="news_content">
      		<div class="news_above">
      			<a href="<%= url_for(:controller => :account, :action => :mypage, :id => model.person.id) -%>"><%= model.person.fullname -%></a>
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
      		</div>
      		<div class="news_below">
      			 Viewed <%= pluralize(number_with_delimiter(count), "time", "times") -%>
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    <div class="news_more">
	  	<a href="<%= url_for(:controller => :browse, :action => :list_models) -%>">
	  		View all models
	  	</a>
	</div>
    <!-- Time spent in all-time viewed-models: <%= Time.now - start_time-%> -->
  	</div>
  </div>
	
	
	
  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Viewed Models<span class="sub_heading"> (in the past 2 weeks)</span></div>
    	
    <% if @most_viewed.empty?  %>
    <div class="news_empty">No statistics on most viewed models in the past 2 weeks</div>
    <% else %>
      <% @most_viewed.each do |modelAndCount| %>
     <% 
     model = modelAndCount[0]
     count = modelAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == model.person.id %> your_news<% end %>">
      	<div class="news_image">
      		<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
				<% if !model.previews.nil? and !model.previews.empty? %>
				<img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
				<% end %>
			</a>
      	</div>
      	<div class="news_content">
      		<div class="news_above">
      			<a href="<%= url_for(:controller => :account, :action => :mypage, :id => model.person.id) -%>"><%= model.person.fullname -%></a>
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
      		</div>
      		<div class="news_below">
      			 Viewed <%= pluralize(number_with_delimiter(count), "time", "times") -%> in the past 2 weeks
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    	<div class="news_more">
      	<a href="<%= url_for(:controller => :browse, :action => :list_recent_models ) -%>">
      		View recent models
      	</a>
      </div>
    <!-- Time spent in most viewed-models: <%= Time.now - start_time-%> -->
  	</div>
  </div>


  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Recommended Models<span class="sub_heading"> (in the past 2 weeks)</span></div>
    	
    <% if @most_recommended_models.empty?  %>
    <div class="news_empty">No statistics on most recommended models in the past 2 weeks</div>
    <% else %>
      <% @most_recommended_models.each do |modelAndCount| %>
     <% 
     model = modelAndCount[0]
     count = modelAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == model.person.id %> your_news<% end %>">
      	<div class="news_image">
      		<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
				<% if !model.previews.nil? and !model.previews.empty? %>
				<img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
				<% end %>
			</a>
      	</div>
      	<div class="news_content">
      		<div class="news_above">
      			<a href="<%= url_for(:controller => :account, :action => :mypage, :id => model.person.id) -%>"><%= model.person.fullname -%></a>
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
      		</div>
      		<div class="news_below">
      			 Recommended <%= pluralize(number_with_delimiter(count), "time", "times") -%> in the past 2 weeks
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    	<div class="news_more">
      	<a href="<%= url_for(:controller => :browse, :action => :list_recent_models ) -%>">
      		View recent models
      	</a>
      </div>
    <!-- Time spent in recommended models: <%= Time.now - start_time-%> -->
  	</div>
  </div>



  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Downloaded Models<span class="sub_heading"> (in the past 2 weeks)</span></div>
    	
    <% if @most_downloaded.empty?  %>
    <div class="news_empty">No statistics on most downloaded models in the past 2 weeks</div>
    <% else %>
      <% @most_downloaded.each do |modelAndCount| %>
     <% 
     model = modelAndCount[0]
     count = modelAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == model.person.id %> your_news<% end %>">
      	<div class="news_image">
      		<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
				<% if !model.previews.nil? and !model.previews.empty? %>
				<img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
				<% end %>
			</a>
      	</div>
      	<div class="news_content">
      		<div class="news_above">
      			<a href="<%= url_for(:controller => :account, :action => :mypage, :id => model.person.id) -%>"><%= model.person.fullname -%></a>
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
      		</div>
      		<div class="news_below">
      			 Downloaded <%= pluralize(number_with_delimiter(count), "time", "times") -%> in the past 2 weeks
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    	<div class="news_more">
      	<a href="<%= url_for(:controller => :browse, :action => :list_recent_models ) -%>">
      		View recent models
      	</a>
      </div>
    <!-- Time spent in recommended models: <%= Time.now - start_time-%> -->
  	</div>
  </div>
  
  
  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Popular Tags<span class="sub_heading"> (in the past 2 weeks)</span></div>
    	
    <% if @most_popular_tags.empty?  %>
    <div class="news_empty">No statistics on most popular tags in the past 2 weeks</div>
    <% else %>
      <% @most_popular_tags.each do |tagAndCount| %>
     <% 
     tag = tagAndCount[0]
     count = tagAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == -1 %> your_news<% end %>">
      	<div class="news_content">
      		<div class="news_above">
      			
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => :tags, :action => :one_tag, :id => tag.id ) -%>"><%= tag.name -%></a>
      		</div>
      		<div class="news_below">
      			 Tagged <%= pluralize(number_with_delimiter(count), "time", "times") -%> in the past 2 weeks
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    	<div class="news_more">
      	<a href="<%= url_for(:controller => :browse, :action => :list_recent_models ) -%>">
      		View recent models
      	</a>
      </div>
    <!-- Time spent in recommended models: <%= Time.now - start_time-%> -->
  	</div>
  </div>

</div>


