<% if @person == @the_person %>
<% @title = "Your personal page" %>
<% else %>
<% @title = "Page for #{@the_person.fullname}" %>
<% @headline_avatar = @the_person.avatar.url(:small) %>
<% end %>

<% if @person != @the_person %>
<div id="person-atom-feed"><%= link_to image_tag("feed.png"), :controller => :account, :action => :follow, :id => @the_person.id, :format => :atom %> Follow <%= @the_person.first_name -%>'s activity in your feed reader</div>
<% end %>

<div id="right-news-box">
  <div id="viewed-models" class="news-box">
    <h2>Most-viewed models</h2>
    <% if @most_viewed.empty? %>
    <p>No statistics on most-viewed models</p>
    <% else %>
    <ul>
      <% @most_viewed.each do |model| %>
      <li><%= model_link(model[0]) %> (<%= pluralize(number_with_delimiter(model[1]), "time", "times") -%>)</li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div id="downloaded-models" class="news-box">
    <h2>Most-downloaded models</h2>
    <% if @most_downloaded.empty? %>
    <p>No statistics on most-downloaded models</p>
    <% else %>
    <ul>
      <% @most_downloaded.each do |model| %>
      <li><%= model_link(model[0]) %> (<%= pluralize(number_with_delimiter(model[1]), "time", "times") -%>)</li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div id="applied-tag" class="news-box">
    <h2>Most popular tags</h2>
    <% if @most_downloaded.empty? %>
    <p>No statistics on most-popular tags</p>
    <% else %>
    <ul>
      <% @most_popular_tags.each do |tn| %>
      <li><%= link_to tn[0].name, :controller => :tags, :action => :one_tag, :id => tn[0].id %> (<%= pluralize(number_with_delimiter(tn[1]), "time", "times") -%>)</li>
      <% end %>
    </ul>
    <% end %>
  </div>


  <div id="recommended" class="news-box">
    <h2>Most-recommended models</h2>
    <% if @most_recommended_models.empty? %>
    <p>No model recommendations</p>
    <% else %>
    <ul>
      <% @most_recommended_models.each do |m| %>
      <li><%= model_link m[0] %> (<%= pluralize(number_with_delimiter(m[1]), "time", "times") -%>)</li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

<div id="left-news-box">
  <div class="news-box">
    <% if @person == @the_person %>
    <h2>Recent activity in <%= link_to 'your models', :controller => :account, :action => :models, :id => @the_person.id -%></h2>
    <% else %>
    <h2>Recent activity in <%= @the_person.first_name %>'s models</h2>
    <% end %>

    <% if @model_events.empty? %>
    <p>No recent activity</p>
    <% else %>
    <ul>
      <% @model_events.each do |model| %>
      <li><%= whats_new_text(model) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="news-box">
    <% if @person == @the_person %>
    <h2>Recent activity in <%= link_to "your tags", :controller => :account, :action => :tags -%> </h2>
    <% else %>
    <h2>Recent activity in <%= @the_person.first_name %>'s tags</h2>
    <% end %>

    <% if @tag_events.empty? %>
    <p>No recent activity</p>
    <% else %>
    <ul>
      <% @tag_events.each do |tag| %>
      <li><%= whats_new_text(tag) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="news-box">
    <h2>Recent requests for help</h2>
    <% if @postings.empty? %>
    <p>No questions to display</p>
    <% else %>
    <ul>
      <% @postings.each do |posting| %>
      <li>
        <% if posting.person == @the_person %>
        <span class="highlight">
          <% end %>

          Question about <%= model_link(posting.node) -%>, "<%=link_to posting.title, :controller => "browse", :action => "one_model", :id => posting.node.id %>," by <%= person_link(posting.person) %>, <%= distance_of_time_in_words(Time.now, posting.created_at) %> ago

          <% if posting.person == @the_person %>
        </span>
        <% end %>

      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>
