<% @title = "Welcome back, #{@person.first_name}!" %>

<p><%= link_to "Manage my groups", :controller => :account, :action => :groups %> &bull; <%= link_to "All recent site activity", :controller => :browse, :action => :whats_new %></p>

<div id="viewed-models" class="right-news-box">
  <h2>Most-viewed models</h2>
  <ul>
    <% @most_viewed.each do |model| %>
    <li><%= link_to model[0].name, :controller => :browse, :action => :one_model, :id => model[0].id %> (<%= model[1] %> times)</li>
    <% end %>
  </ul>
</div>

<div id="downloaded-models" class="right-news-box">
  <h2>Most-downloaded models</h2>
  <ul>
    <% @most_downloaded.each do |model| %>
    <li><%= link_to model[0].name, :controller => :browse, :action => :one_model, :id => model[0].id %> (<%= model[1] %> times)</li>
    <% end %>
  </ul>
</div>

<div class="left-news-box">
  <% if @person == @the_person %>
  <h2>Activity in your models</h2>
  <% else %>
  <h2>Activity in <%= @person.first_name %>'s models</h2>
  <% end %>
  <ul>
    <% @model_events.each do |model| %>
    <li><%= whats_new_text(model) %></li>
    <% end %>
  </ul>
</div>

<div class="left-news-box">
  <% if @person == @the_person %>
  <h2>Activity in your tags</h2>
  <% else %>
  <h2>Activity in <%= @person.first_name %>'s tags</h2>
  <% end %>
  <ul>
    <% @tag_events.each do |tag| %>
    <li><%= whats_new_text(tag) %></li>
    <% end %>
  </ul>
</div>

<div class="left-news-box">
  <h2>Requests for help</h2>
  <% if @postings.length >= 1 %>
  <ul>
    <% @postings.each do |posting| %>
    <% if posting.person != @person %>
    <li><%= link_to posting.title, :controller => "browse", :action => "one_model", :id => posting.node.id %> by <%= person_link(posting.person) %>, <%= distance_of_time_in_words(Time.now, posting.created_at) %> ago</li>
    <% end %>
    <% end %>
  </ul>
  <% else %>
  <p>No questions from other people to answer</p>
  <% end %>
</div>
