<% if @person == @the_person %>
<% @title = "Your personal page" %>
<% else %>
<% @title = "Page for #{@the_person.fullname}" %>
<% @headline_avatar = @the_person.avatar.url(:thumb) %>
<% if @person and @person.administrator? -%>
(<%= mail_to @the_person.email_address -%>)
<% end -%>
<% end %>

<% if @person != @the_person %>
<div id="person-atom-feed"><%= link_to image_tag("feed.png"), :controller => :account, :action => :follow, :id => @the_person.id, :format => :atom %> <%= link_to "Follow #{@the_person.first_name}'s activity in your feed reader", :controller => :account, :action => :follow, :id => @the_person.id, :format => :atom %></div>
<% end %>

<% if @the_person.nodes.present? %>
<p><%= link_to "Download all of #{@the_person.first_name}'s models", :controller => :account, :action => :download, :id => @the_person.id %></p>
<% end %>

<div id="left-news-box">
  <div class="panel">
    <% start_time = Time.now %>
    <h2>Models activity <span class="h2-explanation">(in the last 2 weeks)</span></h2>

    <% if @all_model_events.empty? %>
    <p>No recent activity</p>
    <% else %>
    <ul>
      <% @all_model_events.each do |model| %>
      <% if model.created_at == model.updated_at %>
      <li><%= "#{model_link(model)} was created by #{person_link(model.people.first)} #{distance_of_time_in_words(Time.now, model.created_at)} ago." -%></li>
      <% else %>
      <li><%= whats_new_text(model) %></li>
      <% end %>
      <% end %>
    </ul>
    <% end %>
    <!-- Time spent in news-box all-models: <%= Time.now - start_time-%> -->
  </div>

  <div class="panel">
    <% start_time = Time.now %>
    <% if @person == @the_person %>
    <h2>Recent activity in <%= link_to 'your models', :controller => :account, :action => :models, :id => @the_person.id -%>
      <%= link_to "(All of your models)", :controller => :account, :action => :models, :id => @the_person.id -%></h2>
    <% else %>
    <h2>Recent activity in <%= @the_person.first_name %>'s models
      <%= link_to "(All of #{@the_person.first_name}'s models)", :controller => :account, :action => :models, :id => @the_person.id -%></h2>
    <% end %>

    <% if @model_events.empty? %>
    <p>No recent activity</p>
    <% else %>
    <ul>
      <% @model_events.each do |model| %>
      <li><%= whats_new_text(model) %></li>
      <% end %>
    </ul>
    <% end %>
    <!-- Time spent in news-box models: <%= Time.now - start_time-%> -->
  </div>

  <div class="panel">
    <% start_time = Time.now %>
    <% if @person == @the_person %>
    <h2>Recent activity in <%= link_to "your tags", :controller => :account, :action => :tags -%> </h2>
    <% else %>
    <h2>Recent activity in <%= @the_person.first_name %>'s tags</h2>
    <% end %>

    <% if @tag_events.empty? %>
    <p>No recent activity</p>
    <% else %>
    <ul>
      <% @tag_events.each do |tag| %>
      <li><%= whats_new_text(tag) %></li>
      <% end %>
    </ul>
    <% end %>
    <!-- Time spent in news-box tags: <%= Time.now - start_time-%> -->
  </div>

  <div class="panel">
    <h2>Recent requests for help</h2>
    <% if @questions.empty? %>
    <p>No questions to display</p>
    <% else %>
    <ul>
      <% @questions.each do |posting| %>
      <li>
        <% if posting.person == @the_person %>
        <span class="highlight">
          <% end %>

          <%= model_link(posting.node) -%>:
          <%= person_link(posting.person) %> asked about
          '<%= link_to posting.title, :controller => :browse, :action => :one_model, :anchor => 'discuss', :id => posting.node.id %>,' <%= distance_of_time_in_words(Time.now, posting.created_at) %> ago

          <% if posting.person == @the_person %>
        </span>
        <% end %>
      </li>
      <% end %>
    </ul>
    <!-- Time spent in news-box help: <%= Time.now - start_time-%> -->
    <% end %>
  </div>
</div>

<div id="right-news-box">
	
  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Viewed Models<span class="sub_heading"> (of all time)</span></div>
    
    	
    <% if @all_time_most_viewed.empty? %>
    <div class="news_empty">No statistics on all time most viewed models</div>
    <% else %>
      <% @all_time_most_viewed.each do |modelAndCount| %>
     <% 
     model = modelAndCount[0]
     count = modelAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == model.person.id %> your_news<% end %>">
      	<div class="news_image">
      		<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
				<% if !model.previews.nil? and !model.previews.empty? %>
				<img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
				<% end %>
			</a>
      	</div>
      	<div class="news_content">
      		<div class="news_above">
      			<a href="<%= url_for(:controller => :account, :action => :mypage, :id => model.person.id) -%>"><%= model.person.fullname -%></a>
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
      		</div>
      		<div class="news_below">
      			 Viewed <%= pluralize(number_with_delimiter(count), "time", "times") -%>
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    <div class="news_more">
	  	<a href="<%= url_for(:controller => :browse, :action => :list_models) -%>">
	  		View all models
	  	</a>
	</div>
    <!-- Time spent in all-time viewed-models: <%= Time.now - start_time-%> -->
  	</div>
  </div>
	
	
	
  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Viewed Models<span class="sub_heading"> (in the past 2 weeks)</span></div>
    	
    <% if @most_viewed.empty?  %>
    <div class="news_empty">No statistics on most viewed models in the past 2 weeks</div>
    <% else %>
      <% @most_viewed.each do |modelAndCount| %>
     <% 
     model = modelAndCount[0]
     count = modelAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == model.person.id %> your_news<% end %>">
      	<div class="news_image">
      		<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
				<% if !model.previews.nil? and !model.previews.empty? %>
				<img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
				<% end %>
			</a>
      	</div>
      	<div class="news_content">
      		<div class="news_above">
      			<a href="<%= url_for(:controller => :account, :action => :mypage, :id => model.person.id) -%>"><%= model.person.fullname -%></a>
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
      		</div>
      		<div class="news_below">
      			 Viewed <%= pluralize(number_with_delimiter(count), "time", "times") -%> in the past 2 weeks
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    	<div class="news_more">
      	<a href="<%= url_for(:controller => :browse, :action => :list_recent_models ) -%>">
      		View recent models
      	</a>
      </div>
    <!-- Time spent in most viewed-models: <%= Time.now - start_time-%> -->
  	</div>
  </div>


  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Recommended Models<span class="sub_heading"> (in the past 2 weeks)</span></div>
    	
    <% if @most_recommended_models.empty?  %>
    <div class="news_empty">No statistics on most recommended models in the past 2 weeks</div>
    <% else %>
      <% @most_recommended_models.each do |modelAndCount| %>
     <% 
     model = modelAndCount[0]
     count = modelAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == model.person.id %> your_news<% end %>">
      	<div class="news_image">
      		<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
				<% if !model.previews.nil? and !model.previews.empty? %>
				<img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
				<% end %>
			</a>
      	</div>
      	<div class="news_content">
      		<div class="news_above">
      			<a href="<%= url_for(:controller => :account, :action => :mypage, :id => model.person.id) -%>"><%= model.person.fullname -%></a>
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
      		</div>
      		<div class="news_below">
      			 Recommended <%= pluralize(number_with_delimiter(count), "time", "times") -%> in the past 2 weeks
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    	<div class="news_more">
      	<a href="<%= url_for(:controller => :browse, :action => :list_recent_models ) -%>">
      		View recent models
      	</a>
      </div>
    <!-- Time spent in recommended models: <%= Time.now - start_time-%> -->
  	</div>
  </div>



  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Downloaded Models<span class="sub_heading"> (in the past 2 weeks)</span></div>
    	
    <% if @most_downloaded.empty?  %>
    <div class="news_empty">No statistics on most downloaded models in the past 2 weeks</div>
    <% else %>
      <% @most_downloaded.each do |modelAndCount| %>
     <% 
     model = modelAndCount[0]
     count = modelAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == model.person.id %> your_news<% end %>">
      	<div class="news_image">
      		<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>">
				<% if !model.previews.nil? and !model.previews.empty? %>
				<img src="<%= url_for :controller => :browse, :action => :display_preview, :id => model.id %>" />
				<% end %>
			</a>
      	</div>
      	<div class="news_content">
      		<div class="news_above">
      			<a href="<%= url_for(:controller => :account, :action => :mypage, :id => model.person.id) -%>"><%= model.person.fullname -%></a>
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => "browse", :action => "one_model", :id => model.id) -%>"><%= model.name -%></a>
      		</div>
      		<div class="news_below">
      			 Downloaded <%= pluralize(number_with_delimiter(count), "time", "times") -%> in the past 2 weeks
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    	<div class="news_more">
      	<a href="<%= url_for(:controller => :browse, :action => :list_recent_models ) -%>">
      		View recent models
      	</a>
      </div>
    <!-- Time spent in recommended models: <%= Time.now - start_time-%> -->
  	</div>
  </div>
  
  
  <div class="news">
    <% start_time = Time.now %>
    <div class="news_list">
    	<div class="news_heading">Most Popular Tags<span class="sub_heading"> (in the past 2 weeks)</span></div>
    	
    <% if @most_popular_tags.empty?  %>
    <div class="news_empty">No statistics on most popular tags in the past 2 weeks</div>
    <% else %>
      <% @most_popular_tags.each do |tagAndCount| %>
     <% 
     tag = tagAndCount[0]
     count = tagAndCount[1]
     %>
      <% next if count.to_i.zero? %>
      <div class="news_post<% if @person.id == -1 %> your_news<% end %>">
      	<div class="news_content">
      		<div class="news_above">
      			
      		</div>
      		<div class="news_item">
      			<a href="<%= url_for(:controller => :tags, :action => :one_tag, :id => tag.id ) -%>"><%= tag.name -%></a>
      		</div>
      		<div class="news_below">
      			 Tagged <%= pluralize(number_with_delimiter(count), "time", "times") -%> in the past 2 weeks
      		</div>
      	</div>
      </div>
      <% end %>
    <% end %>
    	<div class="news_more">
      	<a href="<%= url_for(:controller => :browse, :action => :list_recent_models ) -%>">
      		View recent models
      	</a>
      </div>
    <!-- Time spent in recommended models: <%= Time.now - start_time-%> -->
  	</div>
  </div>

</div>


