<% @title = "Register as a new user" %>

<p>Before you can participate in the Commons, you must first register.
We ask for your first and last names (so that we know who you are),
your e-mail address (so that we can send you notifications, as well as
act as a unique username), and a password, which ensures the security
and privacy of your work.</p>

<table>

<% form_for :new_person, :url => { :action => :create } do |form| %>
<tr>
    <td>First name</td>
    <td><%= form.text_field :first_name, :size => 30 %></td>
</tr>
<tr>
    <td>Last name</td>
    <td><%= form.text_field :last_name, :size => 30 %></td>
</tr>
<tr>
    <td>E-mail address</td>
    <td><%= form.text_field :email_address, :size => 30 %></td>
</tr>
<tr>
    <td>Password</td>
    <td><%= form.password_field :password, :size => 30 %></td>
</tr>
<tr>
    <td>Password confirmation</td>
    <td><%= form.password_field :password_confirmation, :size => 30 %></td>
</tr>

<tr>
    <td colspan="2"><%= submit_tag "Register", :class => "submit" %></td>
</tr>

<% end %>

</table>
