<% @title = "Register as a new user" %>

<p>Before you can participate in the Commons, you must first register.
  We ask for your first and last names (so that we know who you are),
  your e-mail address (so that we can send you notifications, as well as
  act as a unique username), and a password, which ensures the security
  and privacy of your work.</p>

<p>Already registered?  You may <%= link_to "log in", :controller => :account, :action => :login -%>.</p>

<%= error_messages_for :new_person %>

<% form_for :new_person, :url => { :action => :create }, :html => {:multipart => true} do |form| %>
<table>

  <tr>
    <td><label for="new_person_first_name">First name</label></td>
    <td><%= form.text_field :first_name, :size => 30 %></td>
  </tr>
  <tr>
    <td><label for="new_person_last_name">Last name</label></td>
    <td><%= form.text_field :last_name, :size => 30 %></td>
  </tr>
  <tr>
    <td><label for="new_person_email_address">E-mail address</label></td>
    <td><%= form.text_field :email_address, :size => 30 %></td>
  </tr>
  <tr>
    <td><label for="new_person_password">Password</label></td>
    <td><%= form.password_field :password, :size => 30 %></td>
  </tr>
  <tr>
    <td><label for="new_person_password_confirmation">Password confirmation</label></td>
    <td><%= form.password_field :password_confirmation, :size => 30 %></td>
  </tr>

  <tr>
    <td>Optional image</td>
    <td><%= form.file_field :avatar %></td>
  </tr>

  <tr>
    <td colspan="2"><%= submit_tag "Register", :class => "submit" %></td>
  </tr>


</table>
<% end %>
