<% if @embedded.blank? %>
<div class="header">
  <div class="banner">
    <%= link_to raw("<h2>NetLogo</h2><div class='nlcommons-title'>Modeling Commons</div>"), :controller => :account, :action => :mypage %>
  </div>
  <div class="login_flash">
    <div class="login_container">
      <div class="login">
	<% if @person %>
	Hello, <%= link_to @person.fullname, :controller => :account, :action => :mypage -%><%= person_image(@person) %>
	| <%= link_to_unless_current "Edit your details", :controller => :account, :action => :edit, :id => @person.id %>
	<% if @person.administrator %> | <%= link_to_unless_current "Admin", :controller => :admin, :action => :index %><% end %>
	| <%= link_to_unless_current "Logout", :controller => :account, :action => :logout %>
	<% else %>
	<%= form_tag(url_for(:controller => :account, :action => :login_action), :id => "header_login") do %>
	<table>
	  <tr>
	    <td colspan="3" style="text-align: left"><%= link_to "Register to share and participate", :controller => :account, :action => :new %> | <%= link_to "Forgot Password", :controller => :account, :action => :reset_password -%></td>
	  </tr>
	  <tr>
	    <td><%= text_field_tag :email_address, nil, :placeholder => "Email Address" %></td>
	    <td><%= password_field_tag :password, nil, :placeholder => "Password" %></td>
	    <td><button>Login</button></td>
	  </tr>
	  <tr class="login_error_container">
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
	</table>
	
	<% end %>	
	<% end %>	
      </div> 
    </div>
    <div class="flash_container">
      <div>
    	<div id="flash_notice">
    	  
    	</div>
      </div>
    </div>
    
    <% if flash[:notice] -%>
    <script>
      $(document).ready(function() {
      $().flash_notice("<%= flash[:notice] -%>");
      });
    </script>
    <% end -%>
    
  </div>
  <div class="navigation">
    <ul>
      <li>
	<% if @person %>
	<%= link_to "Profile", {:controller => :account, :action => :mypage}, {:title => "See recent activity in your models and tags"} %></li><li>	
	<% else %>
	<%= link_to "Home", {:controller => :account, :action => :mypage}, {:title => "Register for the modeling commons to see a personalized home page"} %></li><li>	
	<% end %>			
	<%= link_to "List models", {:controller => :browse, :action => :list_models}, {:title => "List all the models on the modeling commons"} %></li><li>
	<% if @person %>
	<%= link_to "Projects", {:controller => :projects, :action => :index}, {:title => "Group multiple models into a project"} %></li><li>
	<%= link_to "Groups", {:controller => :account, :action => :groups}, {:title => "Allow a group of people to change models"} %></li><li>
	<%= link_to "Tags", {:controller => :account, :action => :tags, :id => @person.id},{:title => "Tag a model by category"}  %></li><li>
	<% end %>
	<%= link_to "Help", {:controller => :help, :action => :index}, {:title => "Get help and information about the modeling commons"} %></li>
      <li><%= link_to "Blog", 'http://blog.modelingcommons.org/', {:title => "Modeling Commons blog"} %></li>
    </ul>
    <ul>
      <% if @person %>
      <li>
	<%= link_to "Add model", {:controller => :upload, :action => :new_model}, {:title => "Upload a new model"} %></li>	
      <% end %>
    </ul>


  </div>
  <div class="search">
    <%= form_tag(url_for(:controller => :search, :action => :search_action), { :id => "model_search_form"}) do %>
    <%= text_field_tag :search_term, nil, {:id => 'model_search', :placeholder => 'Search Models'} -%>
    <%= hidden_field_tag :search_source, "page-header" -%>

    <input style="display: none;" type="submit" value="Search!" />
    <% end %>
  </div>
</div>
<% end %>
