<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
      
<%# coding: UTF-8 -%> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<%= render :partial => "layouts/head" -%>
  </head>
  <body>

  	<div class="outer_container">
	  	<div class="container">
	  		<%= render :partial => "layouts/page_header" -%>
			<div class="content">
				<div class="title">
				    <h1 id="main-title">
				      <% if @headline_avatar -%>
				      <%= image_tag @headline_avatar -%>
				      <% end -%>
				
				      <% if @headline.blank? -%>
				      <%= @title -%>
				      <% else -%>
				      <%= @headline -%>
				      <% end -%>
				    </h1>
			    </div>
			    <%= yield :layout %>
		   </div>
	    </div>
    </div>
<!-- Mouseflow -->
    <script type="text/javascript">
        var _mfq = _mfq || [];
        (function () {
        var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/f486bef3-2b8c-45c3-9a06-90060b8b39e1.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
<!-- End of mouseflow -->
  </body>

</html>
