<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
      
<%# coding: UTF-8 -%> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  	<%= render :partial => "layouts/head" -%>
  </head>
  <body>
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

  	<div class="outer_container">
	  	<div class="container">
	  		<%= render :partial => "layouts/page_header" -%>
			<div class="content">
				<div class="title">
				    <h1 id="main-title">
				      <% if @headline_avatar -%>
				      <%= image_tag @headline_avatar -%>
				      <% end -%>
				
				      <% if @headline.blank? -%>
				      <%= @title -%>
				      <% else -%>
				      <%= @headline -%>
				      <% end -%>
				    </h1>
			    </div>
			    <%= yield :layout %>
		   </div>
	    </div>
    </div>
<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRe0.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(33357,0.45,"www");
</script>
<!-- ClickTale end of Bottom part -->
  </body>

</html>
