<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>NetLogo Modeling Commons -- <%= @title %></title>

    <%= stylesheet_link_tag 'nlcommons', 'browse', 'jquery.autocomplete', 'ui.everything.css', :cache => true -%>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'superfish', 'jquery.livequery', 'jquery.autocomplete', 'jquery.dataTables', 'application', :cache => true %>
  </head>

  <body>
    <% if params['tab'].blank? %>
        <p><%= link_to "Return to page for the '#{@model.name}' model", :controller => :browse, :action => :one_model, :id => @model.id %></p>
        <hr />
    <% end %>

    <%= yield :layout %>
  </body>

</html>
