<% @title = "Group info for '#{@group.name}'" %>

<% if @group.is_administrator?(@person) %>
<p>You are an administrator of the <%= @group.name %> group.  To add
  users to the group, go to the
  "<a href="/account/groups#group_tabs_invite_to_group">invite
  tab</a>" on the <a href="/account/groups">group management
  page.</a></p>
<% end %>

<h2>Models in the <%= @group.name %> group:</h2>

<% if @group.models and (not @group.models.empty?) %>
<%= render :partial => "browse/model_list", :object => @group.models, :locals => {:title => 'Group'}  %>
<% else %>
<p>No models.</p>
<% end %>

<p><%= link_to "Download all of the #{@group.name}'s models", :controller => :membership, :action => :download, :id => @group.id %></p>

<h2>There are <%= pluralize @group.people.count, 'member' %> of the <%= @group.name %> group:</h2>

<ul class="grouplist">
  <% @group.people.sort_by {|p| p.last_name + p.first_name}.each do |person| %>
  <li><%= person_image(person) %>&nbsp;<%= person_link(person) -%>
    <% if @group.is_administrator?(person) %>
    (admin)
    <% end %>
  </li>
  <% end %>
</ul>
